<section *ngIf="!showcreate">
    <div class="row">
        <div class="col">
            <plex-box type="primary">
                <header>
                    <div class="page-title">Situaciones en Planta</div>
                    <table style="table-layout:fixed" class="table table-fixed">
                        <thead>
                            <tr>
                                <th width="50%">Nombre</th>
                                <th width="20%">Requiere Vencimiento</th>
                                <th width="30%" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </header>
                <table *ngIf="datos && datos.length" class="table table-fixed">
                    <tbody>
                        <tr class="hover" *ngFor="let obj of datos">
                            <td width="50%">{{obj.nombre}}</td>
                            <td width="20%" class="text-center">
                                <plex-bool type="slide" [(ngModel)]="obj.requiereVencimiento" label="" name="obj.requiereVencimiento"
                                    (click)="changeRequiereVencimiento(obj)">
                                </plex-bool>
                            </td>
                            <td width="30%" class="text-center">
                                <plex-button *ngIf="checkAuth('edit')" type="primary" label="Editar" (click)="onEdit(obj)"></plex-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <plex-loader *ngIf="loader"></plex-loader>
                <!-- <div *ngIf="!datos || !datos.length" class="alert alert-warning">
                    <p style="text-align: center;"> No se encontraron resultados </p>
                </div> -->
            </plex-box>
        </div>
    </div>
</section>

<footer *ngIf="!showcreate">
    <div class="text-right">
        <plex-button 
            type="success"
            label="Nueva Situación"
            (click)="showcreate = !showcreate"
            *ngIf="checkAuth('create')">
        </plex-button>
    </div>
</footer>

<!--Componente de Alta/Modificación-->
<create-update-situacion
    *ngIf="showcreate"
    [situacion]="seleccion"
    (outputData)='onReturn($event)'
    (onReturn)="onCancel()">
</create-update-situacion>
