<header>
    <form name="searchForm" [formGroup]="searchForm">
        <div class="row">
            <div class="col-md-2">
                <plex-datetime
                    label="Fecha Desde"
                    required
                    formControlName="fechaDesde"
                    type="date"
                    name="fechaDesde"
                    placeholder="Desde"
                    (change)="buscar($event)">
                </plex-datetime>
            </div>
            <div class="col-md-2">
                <plex-datetime
                    label="Fecha Hasta"
                    required
                    formControlName="fechaHasta"
                    type="date"
                    name="fechaHasta"
                    placeholder="Hasta"
                    (change)="buscar($event)">
                </plex-datetime>
            </div>
            <div  *ngIf= "!canProcesarParte" class="col-md-4">
                <plex-select
                    [idField]="'_id'"
                    [data]="servicioOpciones"
                    formControlName="ubicacion"
                    name="ubicacion"
                    label="Ubicación"
                    required
                    placeholder="Seleccione ubicación..."
                    (change)="buscar($event)">
                </plex-select>
            </div>
            <div *ngIf= "canProcesarParte" class="col-md-4" >
                <plex-select
                    [idField]="'_id'"
                    [data]="servicioOpciones"
                    formControlName="ubicacion"
                    name="ubicacion"
                    label="Ubicación"
                    placeholder="Seleccione ubicación..."
                    (change)="buscar($event)">
                </plex-select>
            </div>
            <div class="col-md-4">
                <app-agente-select-input
                    [form]="searchForm"
                    [serviciosAllowed]="serviciosAllowed"
                    (change)="buscar($event)">
                </app-agente-select-input>
            </div>
        </div>
    </form>
</header>