<plex-list [striped]="true" [fullWidth]="true" *ngIf="objects && objects.length">
    <plex-heading [layout]="layout">
        <label *ngIf="readonly"></label>
        <label>Agente Laboral</label>
        <label>Entrada</label>
        <label>Salida</label>
        <label>Hs. de Trabajo</label>
        <label>Artículo</label>
        <label>Justificación</label>
        <label>Obs.</label>
    </plex-heading>
    <ng-container *ngFor="let object of objects; let i=index">
        <plex-item [layout]="layout">
            <div *ngIf="readonly">
                <plex-button
                    *ngIf="!object.ausencia"
                    type="info"
                    size="sm"
                    icon="mdi mdi-plus"
                    (click)="accionToDo(object, i)">
                </plex-button>    
            </div>
            <plex-label titulo="{{object.agente?.apellido | title }} {{object.agente?.nombre | title }}" [tituloBold]="true"></plex-label>
            <plex-label titulo="{{object.fichadas?.entrada | fecha:'diahora' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fichadas?.salida | fecha:'diahora' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fichadas?.horasTrabajadas | fecha:'duracion' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.ausencia?.articulo.codigo | title }}" [tituloBold]="false"></plex-label>

            <plex-label *ngIf="readonly" titulo="{{object.justificacion?.nombre | title }}" [tituloBold]="false"></plex-label>
            <plex-label *ngIf="readonly" titulo="{{object.observaciones | title }}" [tituloBold]="false"></plex-label>

            <plex-select 
                *ngIf="!readonly"
                [data]="justificaciones"
                name="justificacion"
                [(ngModel)]="object.justificacion"
                label=""
                placeholder="Seleccione..."
                (change)="onChangeParteAgente(object)">
            </plex-select>
            <plex-text
                *ngIf="!readonly"
                name="observaciones"
                [(ngModel)]="object.observaciones"
                label=""
                (change)="onChangeParteAgente(object)">
            </plex-text>
            <plex-button
                *ngIf="readonly"
                type="info"
                size="sm"
                icon="mdi mdi-eye"
                (click)="accionToDo(object, i)">
            </plex-button>        
        </plex-item>
    </ng-container>
</plex-list>

<jw-modal id="modal-carga-articulo">
    <div *ngIf="objetoSeleccionado">
        <header class="d-flex flex-row justify-content-between subheader">
            <div>
                <h5><strong>Carga de Ausentismo | </strong> {{objetoSeleccionado.agente?.apellido | title }} {{objetoSeleccionado.agente?.nombre | title }} </h5>
            </div>
            <div class="d-flex flex-row justify-content-end">
                <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="onCloseModal()">Cerrar</plex-button>
            </div>
        </header>
        <app-ausentismo-carga-add
            [agente]="objetoSeleccionado.agente"
            (onSuccess)="onSuccessCargaAusencia($event)"
            (onErrors)="onErrorsCargaAusencia($event)"
            (onWarnings)="onWarningsCargaAusencia($event)">
        </app-ausentismo-carga-add>
    </div>
</jw-modal>