<plex-list [striped]="true" [fullWidth]="true" *ngIf="objects && objects.length">
    <plex-heading [layout]="layout">
        <label></label>
        <label>Agente</label>
        <label>Entrada</label>
        <label>Salida</label>
        <label>Hs. de Trabajo</label>
        <label>Artículo</label>
        <label>Justificación</label>
        <label>Obs.</label>
    </plex-heading>
    <ng-container *ngFor="let object of objects; let i=index">
        <plex-item [layout]="layout">
            <div>
                <plex-button
                    type="info"
                    size="sm"
                    icon="mdi mdi-plus"
                    (click)="accionToDo(object)">
                </plex-button>    
            </div>
            <plex-label titulo="{{object.agente?.apellido | title }} {{object.agente?.nombre | title }}" [tituloBold]="true"></plex-label>
            <plex-label titulo="{{object.fichadas?.entrada | fecha:'diahora' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fichadas?.salida | fecha:'diahora' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fichadas?.horasTrabajadas | title }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.ausencia?.articulo.codigo | title }}" [tituloBold]="false"></plex-label>

            <plex-label *ngIf="readonly" titulo="{{object.justificacion?.nombre | title }}" [tituloBold]="false"></plex-label>
            <plex-label *ngIf="readonly" titulo="{{object.observaciones | title }}" [tituloBold]="false"></plex-label>

            <plex-select 
                *ngIf="!readonly"
                [data]="justificaciones"
                name="justificacion"
                [(ngModel)]="object.justificacion"
                label=""
                placeholder="Seleccione...">
            </plex-select>
            <plex-text
                *ngIf="!readonly"
                name="observaciones"
                [(ngModel)]="object.observaciones"
                label="">
            </plex-text>
            <plex-button
                type="info"
                size="sm"
                icon="mdi mdi-eye"
                (click)="accionToDo(object)">
            </plex-button>        
        </plex-item>
    </ng-container>
</plex-list>

<jw-modal id="modal-carga-articulo">
</jw-modal>