<plex-list [striped]="true" [fullWidth]="true" *ngIf="objects && objects.length">
    <plex-heading [layout]="layout">
        <label>Agente Laboral</label>
        <label>Entrada</label>
        <label>Salida</label>
        <label>Hs. de Trabajo</label>
        <label>Artículo</label>
        <label>Justificación</label>
        <label>Obs.</label>
        <label *ngIf="readonly">Novedades</label>
    </plex-heading>
    <ng-container *ngFor="let object of objects; let i=index">
        <plex-item [layout]="layout">
            <plex-label titulo="{{object.agente?.apellido | title }} {{object.agente?.nombre | title }}" [tituloBold]="true"></plex-label>
            <plex-label titulo="{{object.fichadas?.entrada | fecha:'diahora' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fichadas?.salida | fecha:'diahora' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fichadas?.horasTrabajadas | fecha:'duracion' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.ausencia?.articulo.codigo | title }}" [tituloBold]="false"></plex-label>

            <plex-label *ngIf="readonly || !editionEnabled" titulo="{{object.justificacion?.nombre | title }}" [tituloBold]="false"></plex-label>
            <plex-label *ngIf="readonly || !editionEnabled" titulo="{{object.observaciones | title }}" [tituloBold]="false"></plex-label>

            <plex-select 
                *ngIf="!readonly && editionEnabled"
                [data]="justificaciones"
                [idField]="'_id'"
                name="justificacion"
                [(ngModel)]="object.justificacion"
                label=""
                placeholder="Seleccione..."
                (change)="onChangeParteAgente(object)">
            </plex-select>
            <plex-text
                *ngIf="!readonly && editionEnabled"
                name="observaciones"
                [(ngModel)]="object.observaciones"
                label=""
                (change)="onChangeParteAgente(object)">
            </plex-text>
            <div *ngIf="readonly">
                <plex-badge 
                    *ngIf="hasInconsistencias(object)"
                    type="info"
                    size="sm"
                    title="Inconsistencias">
                    <plex-icon name="mdi mdi-eye"></plex-icon>
                </plex-badge>
                <!-- <plex-badge type="danger" size="sm">
                    <plex-icon name="mdi mdi-eye"></plex-icon>
                </plex-badge> -->
            </div>
            
            <!-- Boton de carga de Articulos -->
            <plex-button
                *ngIf="canAddAusentismo(object)"
                title="Cargar Ausentismo"
                type="info"
                size="sm"
                icon="mdi mdi-plus"
                (click)="accionToDo(object, i)">
            </plex-button>    
        </plex-item>
    </ng-container>
</plex-list>

<jw-modal id="modal-carga-articulo">
    <div *ngIf="objetoSeleccionado">
        <header class="d-flex flex-row justify-content-between subheader">
            <div>
                <h5><strong>Carga de Ausentismo | </strong> {{objetoSeleccionado.agente?.apellido | title }} {{objetoSeleccionado.agente?.nombre | title }} </h5>
            </div>
            <div class="d-flex flex-row justify-content-end">
                <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="onCloseModal()">Cerrar</plex-button>
            </div>
        </header>
        <app-ausentismo-carga-add
            [agente]="objetoSeleccionado.agente"
            (onSuccess)="onSuccessCargaAusencia($event)"
            (onErrors)="onErrorsCargaAusencia($event)"
            (onWarnings)="onWarningsCargaAusencia($event)">
        </app-ausentismo-carga-add>
    </div>
</jw-modal>