<div class="striped">
    <div class="dl guardia d-flex flex-row justify-content-start">
        <div>
            <plex-label titulo="Agente"></plex-label>
        </div>  
        <div *dateRange="[guardia.periodo.fechaDesde, guardia.periodo.fechaHasta]; let diaGuardia">
            <plex-label
                titulo="{{ diaGuardia | fecha:'diasmall' | title}}"
                subtitulo="{{ diaGuardia | fecha:'diames' }}">
            </plex-label>    
        </div>
        <div>
            <plex-label titulo="Total"></plex-label>
        </div>
    </div>
    
    <div *ngFor="let item of guardia.planilla; let iplanilla=index" class="dl guardia d-flex flex-row justify-content-start">
        <div>
            <plex-label titulo="{{ item.agente.apellido }}, {{ item.agente.nombre }}" subtitulo="Nro: {{ item.agente.numero }}"></plex-label>
        </div>
        <div class="d-flex flex-column justify-content-center"
            *dateRange="[guardia.periodo.fechaDesde, guardia.periodo.fechaHasta]; let diaGuardia; let irange=index"
            (click)="onClick(diaGuardia, iplanilla, irange)">
            <ng-container *ngIf="item.diasGuardia[irange]">
                <plex-icon *ngIf="item.diasGuardia[irange].diaCompleto" name="mdi mdi-checkbox-blank-circle"></plex-icon>
                <plex-icon *ngIf="!item.diasGuardia[irange].diaCompleto" name="mdi mdi-checkbox-blank-circle-outline"></plex-icon>
            </ng-container>
        </div>
        <div>
            <plex-label titulo="{{ item.totalDias }}"></plex-label>
        </div>
    </div>
</div>