<div *ngIf="guardia.periodo" class="striped">
    <!-- Table Heading -->
    <div class="dl guardia d-flex flex-row justify-content-start">
        <div>
            <plex-label titulo="Agente"></plex-label>
        </div>  
        <div *ngFor="let diaGuardia of guardia.periodo.range">
            <plex-label
                titulo="{{ diaGuardia | fecha:'diasmall' | title}}"
                subtitulo="{{ diaGuardia | fecha:'diames' }}">
            </plex-label>    
        </div>
        <div>
            <plex-label titulo="Total"></plex-label>
        </div>
        <div></div>
    </div>
    
    <!-- Table Body -->
    <div *ngFor="let item of guardia.planilla; let idxPlanilla=index" class="dl guardia d-flex flex-row justify-content-start">
        <div>
            <plex-label titulo="{{ item.agente.apellido }}, {{ item.agente.nombre }}" subtitulo="Nro: {{ item.agente.numero }}"></plex-label>
        </div>
        <div *ngFor="let diaGuardia of guardia.periodo.range; let irange=index" 
            class="guardia-content"
            (click)="onClick(diaGuardia, idxPlanilla, irange)"
            title="{{ diaGuardia | fecha:'diasmall' | title }} - {{ diaGuardia | fecha:'diames' }}"
            [ngStyle]="{'cursor': (editable && diaGuardia)? 'pointer': 'default'}">
            <ng-container *ngIf="item.diasGuardia[irange]">
                <plex-icon *ngIf="item.diasGuardia[irange].diaCompleto" name="mdi mdi-checkbox-blank-circle"></plex-icon>
                <plex-icon *ngIf="!item.diasGuardia[irange].diaCompleto" name="mdi mdi-checkbox-blank-circle-outline"></plex-icon>
            </ng-container>
        </div>
        <div class="guardia-content">
            <plex-label titulo="{{ item.totalDias }}"></plex-label>
        </div>
        <div class="guardia-content">
            <plex-icon
                *ngIf="editable"
                title="Quitar Agente"
                type="danger"
                name="mdi mdi-trash-can-outline"
                size="sm"
                (click)="onRemoveAgente(item, idxPlanilla)">
            </plex-icon>
        </div>
    </div>

    <!-- Table Footer -->
    <div class="dl guardia d-flex flex-row justify-content-start">
        <div>
            <plex-label titulo="Totales"></plex-label>
        </div>  
        <div *ngFor="let total of guardia.guardiasPorDia;">
            <plex-label
                titulo="{{ total }}">
            </plex-label>    
        </div>
        <div>
            <plex-label titulo=""></plex-label>
        </div>
        <div></div>
    </div>

</div>