div.dl { 
    // background-color: #eee;
    border: none !important;
    padding: 0 2.5px;
}

.guardia div {
    border: 1px solid #eee;
    min-width: 35px;
    padding: 12px 2.5px;
    text-align: center;
}

.guardia div:first-child {
    padding-left: 12px;
    width: 120px; 
    text-align: start;
}

.guardia-content {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-content: center;
}

// .guardia div:last-child {
//     padding-right: 12px;
// }


::ng-deep .guardia small {
    line-height: 1.25rem !important;
}


