::ng-deep .container-gap {
    padding: 25px 0;
}

::ng-deep .input-sm {
    margin: 2px;
}

::ng-deep .input-sm .form-control {
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
}

::ng-deep .input-sm .btn {
    padding: 0.1rem 0.1rem
}

::ng-deep .input-sm .mdi-calendar {
    font-size: 0.9rem;
}

::ng-deep .input-sm .selectize-control.single .remove-button {
    top: 4px;
}

::ng-deep .input-sm .selectize-input {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    min-height: 0px ;
}

::ng-deep .flex-1 {
    flex: 1
}

::ng-deep .flex-2 {
    flex: 2
}