<plex-layout main="8">
    <plex-layout-main>
        <div class="row">
            <div class="col-9">
                <app-header-calendar
                    (changedDate)="onChangeHeaderDate($event)"
                    (showHideWeekends)="onToggleWeekends($event)"
                    (showHideFeriados)="onToggleFeriados($event)"
                    (saltarFrancos)="onToggleFrancos($event)">
                </app-header-calendar>
            </div>
            <div class="col-3">
                <ng-template [ngxPermissionsOnly]="'agentes:ausentismo:add_ausentismo'">
                    <plex-button
                        *ngIf="agente?.activo"
                        type="info"
                        label="Cargar Ausentismo"
                        (click)="onCargarAusentismo()">
                    </plex-button>
                </ng-template>
            </div>
        </div>
        
        <app-main-calendar
            [eventos]="eventos"
            [weekends]="weekends"
            [mesSeleccionado]="mesMainDefault"
            (changedDate)="onChangeMainDate($event)">
        </app-main-calendar>

        <app-nav-calendar
            *ngIf="eventos"
            [eventos]="eventos"
            [mesSeleccionado]="mesNavDefault"
            (changedDate)="onChangeNavDate($event)">
        </app-nav-calendar>
    
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </plex-layout-sidebar>
</plex-layout>