<header class="d-flex d-row justify-content-between">
    <h5>Novedades</h5>
    <plex-button type="success" size="sm">accion clave</plex-button>
</header>
<section class="d-flex d-row">
    <plex-select class="w-50 mr-2" [(ngModel)]="paises"  label="Estado del agente" [required]="true"></plex-select>
    <plex-select class="w-50" [(ngModel)]="paises"  label="Situacion del agente" [required]="true"></plex-select>
</section>
<hr class="white">
<ul>
    <app-item-listado>
        
    </app-item-listado>
</ul>           
