
<div class="item-row" (click)="selectItem(item)" [ngClass]="{'item-row-selected': itemSelected?._id == item._id }">
    <div [ngClass]="(botonera)? 'item-column': 'item-column-full'">
        <div class="d-flex flex-row justify-content-start align-items-center">
            <ng-content ></ng-content>
        </div>
    </div>
    <div class="item-column item-botonera" *ngIf="botonera">
        <div class="d-flex flex-row justify-content-end align-items-center"> 
            <plex-button
                *ngIf="viewEnabled"
                title="Ver detalle"
                type="info"
                icon="mdi mdi-eye"
                size="sm"
                (click)="viewItem(item)">
            </plex-button>
            <plex-button
                *ngIf="editEnabled"
                title="Editar"
                type="warning"
                icon="mdi mdi-pencil"
                size="sm"
                (click)="editItem(item)"
                [disabled]="!editable">
            </plex-button>
            <plex-button
                *ngIf="historyEnabled"
                title="Ver Historia"
                type="success"
                icon="clock"
                size="sm"
                (click)="historyItem(item)">
            </plex-button>
            <plex-button
                *ngIf="deleteEnabled"
                title="Eliminar"
                type="danger"
                icon="mdi mdi-close"
                size="sm"
                (click)="deleteItem(item)"
                [disabled]="!editable">
            </plex-button>
        </div>
    </div>
</div>
