<!-- <ng-container *ngFor="let item of indicadores">
    <div class="item-row">
        <div class="item-column">
            <div class="d-flex flex-row justify-content-start">
                <plex-label
                    titulo="Periodo {{ item.vigencia }}">
                </plex-label>
            </div>    
        </div>
        <div class="item-column item-botonera">
            <div class="d-flex flex-row justify-content-end">
                <plex-badge type="info">
                    {{ item.intervalos[0]?.totales}} Asig.
                </plex-badge>
                <plex-badge type="success">
                    {{ item.intervalos[0]?.ejecutadas}} Toma.
                </plex-badge>
            </div>
        </div>
    </div>
</ng-container>

<br><br><br> -->

<list-item *ngFor="let item of indicadores; let i=index"
    [item]="item"
    [itemSelected]="itemSelected"
    [actions]="editable? ['edit']:[]"
    (edit)="onItemEdit($event)">
    <plex-label
        titulo="{{ item.vigencia }}">
    </plex-label>
    <plex-badge type="info">
        {{ item.intervalos[0]?.totales}} Asig.
    </plex-badge>
    <plex-badge type="success">
        {{ item.intervalos[0]?.ejecutadas}} Toma.
    </plex-badge>
</list-item>