<plex-layout main="8">
    <plex-layout-main>
        <app-header-calendar
            (changedDate)="onChangeHeaderDate($event)"
            (changedWeekends)="onChangeHeaderWeekends($event)">
        </app-header-calendar>
        <app-main-calendar
            *ngIf="ausencias"
            [ausencias]="ausencias"
            [weekends]="weekends"
            [mesSeleccionado]="mesMainDefault"
            (changedDate)="onChangeMainDate($event)">
        </app-main-calendar>
        <app-nav-calendar
            *ngIf="ausencias"
            [ausencias]="ausencias"
            [mesSeleccionado]="mesNavDefault"
            (changedDate)="onChangeNavDate($event)">
        </app-nav-calendar>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <h1>Hola Ausentismo Sidebar</h1>
    </plex-layout-sidebar>
</plex-layout>



