/*--------------------------------------------------------------
# ANDES - Colores
--------------------------------------------------------------*/

$andes-negro:black;
$andes-azul-oscuro: #002738;
$andes-azul: #2c4794;
$andes-cyan: #00a1df;
$andes-rojo: #cb0053;
$andes-celeste: #84cef0;
$andes-celeste-claro: #d7f1fd;
$andes-violeta: #662480;
$andes-violeta-claro: #982f98;
$andes-magenta: #e3007e;
$andes-verde: #00b9b1;
$andes-verde-claro: #63c7b7;
$andes-gris: #7d7d7d;
$andes-gris-claro: #e9e9e9;
$andes-blanco: #ffffff;
$gradient: linear-gradient(0deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;