<plex-layout main="12">
    <plex-layout-main>
        
        <app-crud-header
            [action]="(_objectID)? 'update':'create'"
            [titulo]="titulo"
            [subtitulo]="subtitulo"
            (save)="onSave()"
            (cancel)="onCancel()"
            (history)="onHistoria()">
        </app-crud-header>
        
        <form *ngIf='form' name="form" [formGroup]="form">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <plex-datetime
                        type="date"
                        label="Fecha"
                        name="fecha"
                        formControlName="fecha"
                        [required]="true"
                        class="input-sm">
                    </plex-datetime>
                </div>
                <div class="col-md-6 col-xs-12">
                    <plex-text
                        name="descripcion"
                        formControlName="descripcion"
                        label="Descripción"
                        placeholder="Ingrese descripción...">
                    </plex-text>  
                </div>
            </div>
        </form>

    </plex-layout-main>
</plex-layout>
