<plex-layout main="12">
    <plex-layout-main>

        <header class="d-flex flex-row justify-content-between subheader">
            <div>
                <h5><strong> {{ titulo }} | </strong> {{ subtitulo }}</h5>
            </div>
            <div class="d-flex flex-row justify-content-end">
                <plex-button label="Guardar" type="success" (click)="onSave()"></plex-button>
                <plex-button class="mx-2" label="Cancelar" type="danger" (click)="onCancel()"></plex-button>
            </div>
        </header>
        
        <form *ngIf='form' name="form" [formGroup]="form">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <plex-datetime
                        type="date"
                        label="Fecha"
                        name="fecha"
                        formControlName="fecha"
                        [required]="true"
                        class="input-sm">
                    </plex-datetime>
                </div>
                <div class="col-md-6 col-xs-12">
                    <plex-text
                        name="descripcion"
                        formControlName="descripcion"
                        label="Descripción"
                        placeholder="Ingrese descripción...">
                    </plex-text>  
                </div>
            </div>
        </form>

    </plex-layout-main>
</plex-layout>
