<form name="datosHistoriaLaboralForm" [formGroup]="datosHistoriaLaboralForm">
    <h5 class="subheader">Datos Generales</h5>
    <div class="row">
        <div class="col-md-3">
            <plex-datetime
                type="date"
                label="Ingreso al Estado"
                name="fechaIngresoEstado"
                formControlName="fechaIngresoEstado">
            </plex-datetime>
        </div>
        <div class="col-md-3">
            <plex-datetime
                type="date"
                label="Ingreso al Hospital"
                name="fechaIngresoHospital"
                formControlName="fechaIngresoHospital">
            </plex-datetime>
        </div>
        <div class="col-md-3">
            <plex-datetime
                type="date"
                label="Antigüedad p/Art.53"
                name="antiguedadVacaciones"
                formControlName="antiguedadVacaciones">
            </plex-datetime>
        </div>
        <div class="col-md-3">
            <plex-datetime
                type="date"
                label="Antigüedad p/sueldo"
                name="antiguedadPago"
                formControlName="antiguedadPago">
            </plex-datetime>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6">
            <plex-select 
                [data]="tiposNormaLegal"
                name="tipoNormaLegal"
                formControlName="tipoNormaLegal"
                label="Situación en Planta"
                placeholder="Seleccione..."
                [required]="true">
            </plex-select>
        </div>
        <div class="col-md-6">
            <plex-text
                name="numeroNormaLegal"
                formControlName="numeroNormaLegal"
                label="Lugar de Pago"
                placeholder="Ingrese valor...">
            </plex-text>
        </div>
    </div> -->
</form>
<div *ngIf="situacionLaboral?.situacion">
    <agente-datos-situacion
        [situacion]="situacionLaboral.situacion"
        (outputSituacion)='onValueChangeSituacion($event)'>
    </agente-datos-situacion>
</div>
<!-- <div *ngIf="situacionLaboral?.cargo">
    <agente-datos-cargo
        <h5 class="subheader">Cargo</h5>
        [cargo]="situacionLaboral.cargo"
        (outputCargo)='onValueChangeCargo($event)'>
    </agente-datos-cargo>
</div>
<div *ngIf="situacionLaboral?.regimen">
    <h5 class="subheader">Régimen</h5>
    <agente-datos-regimen
        [regimen]="situacionLaboral.regimen"
        (outputCargo)='onValueChangeRegimen($event)'>
    </agente-datos-regimen>
</div> -->