<plex-layout main="12">
    <plex-layout-main>
        <header>
            <section class="d-flex flex-row justify-content-between mb-2">
                <h5 class="align-self-center" *ngIf="!guardia?._id">
                    <strong>Guardias |</strong> Alta nueva planilla
                </h5>
                <h5 class="align-self-center" *ngIf="guardia?._id">
                        <strong>Guardias |</strong>
                        {{ (isEditable)? 'Edición de planilla (Guardia sin Confirmar)' : 'Detalle de planilla (Guardia Confirmada)' }}
                    </h5>
                <div class="d-flex flex-row justify-content-end"> 
                    <plex-button *ngIf="puedeGuardar" label="Guardar" type="success" (click)="onGuardar()" class="mx-2" title="Guardar y Continuar Editando"></plex-button>
                    <plex-button *ngIf="puedeConfirmar" label="Confirmar Guardia" type="warning" (click)="onConfirmar()" title="Guardar y Confirmar"></plex-button>
                    <plex-button *ngIf="puedeValidar" label="Validar" type="success" (click)="onValidar()" class="mx-2" title="Guardar y Validar"></plex-button>
                    <plex-button icon="mdi mdi-close" type="danger" (click)="onCerrar()" class="mx-2" title="Cerrar"></plex-button>
                    
                </div>
            </section>
        </header>
        
        <!-- Formulario Encabezado de la Guardia -->
        <app-guardia-form
            *ngIf="guardia"
            #guardiaForm
            [guardia]="guardia"
            (changed)="onChangedGuardiaForm($event)">
        </app-guardia-form>
        <br>
        
        <!-- Feedback para el usuario. Indica que se generando la planilla -->
        <plex-loader 
            *ngIf="generandoPlanilla"
            class="d-flex flex-column align-items-center justify-content-center h-75"
            type="ball-beat">
        </plex-loader>

        <app-search-leyenda
            *ngIf="!guardia?.periodo"
            [header]="'Seleccione un periodo para comenzar a trabajar!'"
            [subHeader]="' - '">
        </app-search-leyenda>

        <!-- Planilla de guardias por agente -->
        <ng-container *ngIf="!generandoPlanilla && guardia?.periodo">
            <app-guardia-planilla
                [guardia]="guardia"
                [editable]="puedeEditarPlanilla">
            </app-guardia-planilla>  
            <br>
            <div class="d-flex flex-row justify-content-end">
                <div *ngIf="puedeAgregarAgente">
                    <plex-button
                        label="Agregar Agente"
                        type="info"
                        icon="mdi mdi-plus"
                        (click)="onAddAgente()">
                    </plex-button>
                </div> 
            </div>
        </ng-container>
        
        <!-- Modal para la seleccion/carga de agentes a la planilla -->
        <jw-modal id="modal-add-agente">
            <app-agente-select
                *ngIf="agenteSearchParams"
                [searchParams]="agenteSearchParams"
                (cancel)="onAddAgenteCancel()"
                (selected)="onAddAgenteSelected($event)">
            </app-agente-select>
        </jw-modal>

    </plex-layout-main>
</plex-layout>