<div class="row">
    <div class="col-md-8">
        <plex-text
            name="searchText"
            [(ngModel)]="searchText"
            [debounce]="1000"
            (change)="onChange()"
            [autoFocus]="autoFocus"
            placeholder="Ingrese un parámetro de búsqueda">
        </plex-text>
    </div>
    <!-- <div class="col-md-1">
        <plex-button
            type="primary"
            [icon]="mostrarMasOpciones ? 'mdi mdi-filter-remove' : 'mdi mdi-filter-outline'"
            (click)="mostrarMasOpciones = !mostrarMasOpciones">
        </plex-button>
    </div> -->
</div>