<plex-list [striped]="true" [fullWidth]="true" *ngIf="objects && objects.length">
    <plex-heading [layout]="layout">
        <label>Nombre</label>
        <label>Requiere Vencimiento</label>
    </plex-heading>
    <ng-container *ngFor="let object of objects; let i=index">
        <plex-item [layout]="layout">
            
            <plex-label titulo="{{object.nombre | title }}" [tituloBold]="true"></plex-label>
            <plex-bool 
                type="slide"
                [(ngModel)]="object.requiereVencimiento"
                [readonly]="true"
                label="">
            </plex-bool>
            <plex-button
                type="warning"
                size="sm"
                icon="mdi mdi-pencil"
                (click)="seleccionarObjeto(object)">Editar
            </plex-button>
            <plex-button
            type="danger"
            size="sm"
            icon="mdi mdi-close"
            (click)="eliminarObjeto(object, i)">Eliminar
        </plex-button>
        </plex-item>
    </ng-container>
</plex-list>