<plex-list [striped]="true" [fullWidth]="true" *ngIf="objects && objects.length">
    <plex-heading [layout]="layout">
        <label></label>
        <label>Día</label>
        <label>Fecha del parte</label>
        <label>Servicio</label>
        <label>Fecha de envio del parte</label>
        <label>Estado</label>
        <label>Novedades</label>
        <label>Procesado</label>
    </plex-heading>
    <ng-container *ngFor="let object of objects; let i=index">
        <plex-item [layout]="layout">
            <div>
                <plex-button
                    type="info"
                    size="sm"
                    icon="mdi mdi-eye"
                    (click)="verPartesAgentes(object)">
                </plex-button>    
            </div>
            <plex-label titulo="{{object.fecha | title }}" [tituloBold]="true"></plex-label>
            <plex-label titulo="{{object.fecha | title }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.servicio.nombre | title }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fecha | title }}" [tituloBold]="false"></plex-label>
            <plex-icon
                type="warning"
                size="sm"
                name="mdi mdi-pencil">
            </plex-icon>
            <plex-icon
                type="danger"
                size="sm"
                name="mdi mdi-close">
            </plex-icon>
            <plex-bool 
                type="slide"
                [(ngModel)]="object.procesado"
                [readonly]="true"
                label="">
            </plex-bool>      
        </plex-item>
    </ng-container>
</plex-list>