<plex-list [striped]="true" [fullWidth]="true" *ngIf="objects && objects.length">
    <plex-heading [layout]="layout">
        <label></label>
        <label>Día</label>
        <label>Fecha del parte</label>
        <label>Servicio</label>
        <label>Fecha de envio</label>
        <label>Estado</label>
        <label>Novedades</label>
        <label>Procesado</label>
    </plex-heading>
    <ng-container *ngFor="let object of objects; let i=index">
        <plex-item [layout]="layout">
            <div>
                <plex-button
                    type="info"
                    size="sm"
                    icon="mdi mdi-magnify"
                    (click)="onNavigate(object)">
                </plex-button>    
            </div>
            <plex-label titulo="{{object.fecha | fecha:'dia' | title }}" [tituloBold]="true"></plex-label>
            <plex-label titulo="{{object.fecha | fecha:'utc' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.ubicacion.nombre | title }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fecha | fecha:'utc' }}" [tituloBold]="false"></plex-label>
            <div [ngSwitch]="object.estado.nombre">
                <plex-badge *ngSwitchCase="'Sin presentar'" type="danger" size="sm">
                    <plex-icon name="mdi mdi-clipboard-text"></plex-icon>
                </plex-badge>
                <plex-badge *ngSwitchCase="'Presentación parcial'" type="warning" size="sm">
                    <plex-icon name="mdi mdi-clipboard-text"></plex-icon>
                </plex-badge>
                <plex-badge *ngSwitchDefault type="success" size="sm">
                    <plex-icon name="mdi mdi-clipboard-text"></plex-icon>
                </plex-badge>
            </div>
            <div>
                <plex-badge type="info" size="sm">
                    <plex-icon name="mdi mdi-eye"></plex-icon>
                </plex-badge>
                <plex-badge type="danger" size="sm">
                    <plex-icon name="mdi mdi-eye"></plex-icon>
                </plex-badge>
            </div>
            <plex-bool 
                type="slide"
                [(ngModel)]="object.procesado"
                [readonly]="object.procesado"
                label=""
                (change)="procesarParte(object)">
            </plex-bool>      
        </plex-item>
    </ng-container>
</plex-list>