<plex-list [striped]="true" [fullWidth]="true" *ngIf="objects && objects.length">
    <plex-heading [layout]="layout">
        <label></label>
        <label>Día</label>
        <label>Fecha del parte</label>
        <label>Servicio</label>
        <label>Fecha de envio del parte</label>
        <label>Estado</label>
        <label>Novedades</label>
        <label>Procesado</label>
    </plex-heading>
    <ng-container *ngFor="let object of objects; let i=index">
        <plex-item [layout]="layout">
            <div>
                <plex-button
                    type="info"
                    size="sm"
                    icon="mdi mdi-magnify"
                    (click)="onNavigate(object)">
                </plex-button>    
            </div>
            <plex-label titulo="{{object.fecha | fecha:'dia' | title }}" [tituloBold]="true"></plex-label>
            <plex-label titulo="{{object.fecha | fecha:'utc' }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.ubicacion.nombre | title }}" [tituloBold]="false"></plex-label>
            <plex-label titulo="{{object.fecha | fecha:'utc' }}" [tituloBold]="false"></plex-label>
            <div [ngSwitch]="object.estado.nombre">
                <plex-button *ngSwitchCase="'Sin Presentar'"
                    type="danger"
                    size="sm"
                    icon="mdi mdi-clipboard-text">
                </plex-button>
                <plex-button *ngSwitchCase="'Presentación parcial'"
                    type="warning"
                    size="sm"
                    icon="mdi mdi-clipboard-text">
                </plex-button>
                <plex-button *ngSwitchDefault
                    type="success"
                    size="sm"
                    icon="mdi mdi-clipboard-text">
                </plex-button>
            </div>
            <plex-icon
                type="danger"
                size="sm"
                name="mdi mdi-close">
            </plex-icon>
            <plex-bool 
                type="slide"
                [(ngModel)]="object.procesado"
                label=""
                (change)="updateEstadoProcesado(object)">
            </plex-bool>      
        </plex-item>
    </ng-container>
</plex-list>


<jw-modal id="modal-partes-agente">
    <div *ngIf="partesAgenteSeleccionado">
        <header class="d-flex flex-row justify-content-between subheader">
            <div>
                <h5><strong>Partes Diarios | </strong> {{ parteSeleccionado.ubicacion.nombre }} ({{parteSeleccionado?.fecha | fecha:'utc' }}) </h5>
            </div>
            <div class="d-flex flex-row justify-content-end">
                <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="onCloseModal()">Cerrar</plex-button>
            </div>
        </header>
        <app-parte-agente-item-list 
            [objects]="partesAgenteSeleccionado"
            [readonly]="true">
        </app-parte-agente-item-list>
    </div>
</jw-modal>