<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5 class="align-self-center">
            Registros Historia Laboral
        </h5>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <plex-button
            *ngIf="agente?.activo"
            title="Nueva Historial Laboral"
            titlePosition="left"
            type="primary btn-sm"
            icon="plus"
            (click)="nuevaHistoriaLaboral()"
            [disabled]="!editable">
        </plex-button>
    </div>
</header>

<list-item *ngFor="let item of items; let i=index"
    [item]="item"
    [itemSelected]="itemSelected"
    [actions]="['view', 'edit', 'delete']"
    (selectionChange)="onItemSelectionChanged($event)"
    (view)="onItemView($event)"
    (edit)="onItemEdit($event)"
    (delete)="onItemDelete($event)">
    <plex-icon name="file"></plex-icon>
    <plex-label
        class="wp-80" 
        titulo="{{ item.tipo | title }} {{ item.changeset.motivo? ' - ': '' }} {{ item.changeset.motivo | historialMotivo }}"
        subtitulo="{{ item.changeset.fecha | fecha:'utc' }}">
    </plex-label>
</list-item>

<app-leyenda
    *ngIf="!items?.length"
    [header]="'No hay registros de Historia Laboral aún!'">
</app-leyenda>

<jw-modal id="{{ modal_id_create }}">
    <div *ngIf="agente">
        <app-historia-laboral-create
            [agente]="agente"
            (success)="onSuccessHistoriaLaboralCreate($event)"
            (cancel)="onCancelModal(modal_id_create)">
        </app-historia-laboral-create>
    </div>
</jw-modal>

<jw-modal id="{{ modal_id_baja }}">
    <div>
        <header class="d-flex flex-row justify-content-between subheader">
            <div>
                <h5><strong>Agente | </strong> Baja</h5>
            </div>
            <div class="d-flex flex-row justify-content-end">
                <div *ngIf="!canEditHistoria">
                    <plex-button
                        label="Editar"
                        type="info"
                        (click)="changeCanEditHistoria()"
                        class="mx-2">
                    </plex-button>
                    <plex-button
                        type="danger" 
                        icon="mdi mdi-close" 
                        title="Cerrar"
                        (click)="onCancelModal(modal_id_baja)">
                    </plex-button>
                </div>
                <div *ngIf="canEditHistoria">
                    <plex-button label="Guardar" type="success" (click)="updateHistoria(modal_id_baja)"></plex-button>
                    <plex-button
                        class="mx-2"
                        label="Cancelar"
                        type="danger"
                        (click)="onCancelModal(modal_id_baja)">
                    </plex-button>
                </div>
            </div>
        </header>       
        <ng-template #dynamicBajaForm></ng-template>
    </div>
</jw-modal>

<jw-modal id="{{ modal_id_modificacion }}">
    <header class="d-flex flex-row justify-content-between subheader">
        <div>
            <h5><strong>Historia Laboral | </strong> Detalle Modificación</h5>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <div *ngIf="!canEditHistoria">
                <plex-button
                    label="Editar"
                    type="info"
                    (click)="changeCanEditHistoria()"
                    class="mx-2">
                </plex-button>
                <plex-button
                    type="danger" 
                    icon="mdi mdi-close" 
                    title="Cerrar"
                    (click)="onCancelModal(modal_id_modificacion)">
                </plex-button>
            </div>
            <div *ngIf="canEditHistoria">
                <plex-button label="Guardar" type="success" (click)="updateHistoria(modal_id_modificacion)"></plex-button>
                <plex-button
                    class="mx-2"
                    label="Cancelar"
                    type="danger"
                    (click)="onCancelModal(modal_id_modificacion)">
                </plex-button>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-3 col-xs-12 d-flex justify-content-start align-items-center flex-column">
            <app-agente-foto
                [agente]="agente"
                [editable]="false"
                [size]="'md'">
            </app-agente-foto>
            <article class="d-flex flex-column">
                <h5 class="mt-2 mb-4">
                    {{ agente.nombre }}
                    <strong>{{ agente.apellido }}</strong>
                </h5>
            </article>
        </div>
        <div class="col-md-9 col-xs-12">
            <ng-template #dynamicModificacionForm></ng-template>
        </div>
    </div>
</jw-modal>