<plex-layout main="12">

    <plex-layout-main>
        <app-crud-header 
            [titulo]="'Artículos'"
            (cancel)="cancel()"
            (create)="createItem()">
        </app-crud-header>
        
        <app-articulo-search
            (change)="search($event)">
        </app-articulo-search>

        <br>
        
        <plex-loader 
            *ngIf="searching"
            class="d-flex flex-column align-items-center justify-content-center h-75"
            type="ball-beat">
        </plex-loader>

        <app-search-leyenda
            *ngIf="searched && items && !items.length"
            [header]="'No se encontraron resultados!'">
        </app-search-leyenda>

        <list-head
            *ngIf="searched && items && items.length"
            [columnDef]="columnDef">
        </list-head>
        <list-item *ngFor="let item of items; let i=index"
            [item]="item"
            [itemSelected]="itemSelected"
            [actions]="['view', 'edit', 'delete']"
            (selectionChange)="onItemSelectionChanged($event)"
            (edit)="onItemEdit($event)"
            (delete)="onItemDelete($event)">
            <plex-label class="wp-10" titulo="{{item.codigo | title }}" [tituloBold]="true"></plex-label>
            <plex-label class="wp-10" titulo="{{item.nombre | title }}" [tituloBold]="false"></plex-label>
            <plex-label class="wp-40" titulo="{{item.descripcion | title }}" [tituloBold]="false"></plex-label>
            <plex-bool
                class="wp-10"
                type="slide"
                [(ngModel)]="item.diasHabiles"
                [readonly]="true"
                label="">
            </plex-bool>
            <plex-bool
                class="wp-20" 
                type="slide"
                [(ngModel)]="item.descuentaDiasLicencia"
                [readonly]="true"
                label="">
            </plex-bool>
            <app-color-picker
                [color]="item.color"
                [size]="'sm'"
                [editable]="false">
            </app-color-picker>
        </list-item>
        
        <div class="d-flex justify-content-center mt-4">
            <plex-button
                *ngIf="showMore"
                label="Mostrar más resultados"
                type="info"
                (click)="showMoreResultados()">
            </plex-button>
        </div>
               
    </plex-layout-main>   
</plex-layout>