<header>
    <form name="searchForm" [formGroup]="searchForm">
        <div class="row">
            <div class="col-md-8">
                <plex-text
                    formControlName="textoLibre"
                    name="textoLibre"
                    (change)="buscar($event)"
                    [autoFocus]="autoFocus"
                    placeholder="Ingrese un parámetro de búsqueda. (Nombre, Apellido, DNI o CUIL)">
                </plex-text>
            </div>
            <!-- <div class="col-md-1">
                <plex-button
                    type="primary"
                    [icon]="mostrarMasOpciones ? 'mdi mdi-filter-remove' : 'mdi mdi-filter-outline'"
                    (click)="mostrarMasOpciones = !mostrarMasOpciones">
                </plex-button>
            </div> -->
        </div>
    </form>
</header>