<header>
    <div class="row">
        <div class="col-md-8">
            <plex-text
                [(ngModel)]="textoLibre"
                (change)="buscar($event)"
                [autoFocus]="autoFocus"
                placeholder="Ingrese un parámetro de búsqueda. (Nombre, Apellido, DNI o CUIL)">
            </plex-text>
        </div>
        <div class="col-md-1">
            <plex-button
                label="Búsqueda Avanzada"
                type="default"
                [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'"
                (click)="mostrarMasOpciones = !mostrarMasOpciones">
            </plex-button>
        </div>
        <div class="col-md-3">
            <plex-button
                label="Nuevo Agente"
                type="info"
                (click)="altaAgente()">
            </plex-button>
        </div>
    </div>
    <div class="row" *ngIf="mostrarMasOpciones">
        <div class="col-md-4">
            <plex-select *ngIf="tiposSituacion.length"
                [data]="tiposSituacion"
                [(ngModel)]="tipoSituacion"
                name="tiposSituacion"
                label="Situacion en Planta">
            </plex-select>
        </div>
        <div class="col-md-3">
            <plex-datetime
                [(ngModel)]="fechaDesde"
                type="date"
                name="fechaDesde"
                label="Desde">
            </plex-datetime>
        </div>
        <div class="col-md-3">
            <plex-datetime
                [(ngModel)]="fechaHasta"
                type="date"
                name="fechaHasta"
                label="Hasta">
            </plex-datetime>
        </div>
    </div>
</header>