<plex-layout main="12">
    <plex-layout-main>
        <header>
            <section class="d-flex flex-row justify-content-between mb-2">
                <h5 class="align-self-center" *ngIf="!recargo?._id">
                    <strong>Recargos |</strong> Alta nueva planilla
                </h5>
                <h5 class="align-self-center" *ngIf="recargo?._id">
                        <strong>Recargos |</strong>
                        {{ (isEditable)? 'Edición de planilla (Recargo sin Confirmar)' : 'Detalle de planilla (Recargo Confirmado)' }}
                    </h5>
                <div class="d-flex flex-row justify-content-end"> 
                    <ng-template [ngxPermissionsOnly]="'recargos:recargo:add_recargo'">
                        <plex-button 
                            *ngIf="recargo && puedeGuardar"
                            label="Guardar"
                            type="success"
                            (click)="onGuardar()"
                            class="mx-2" title="Guardar y Continuar Editando">
                        </plex-button>
                    
                        <plex-button
                            *ngIf="recargo && puedeConfirmar" 
                            label="Confirmar Recargo" 
                            type="warning" 
                            (click)="onConfirmar()"
                            title="Guardar y Confirmar">
                        </plex-button>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="'recargos:recargo:procesar_recargo'">
                        <plex-button 
                            *ngIf="recargo && puedeProcesar"
                            label="Procesar"
                            type="success" 
                            (click)="onProcesar()"
                            class="mx-2" title="Procesar y Guardar">
                        </plex-button>
                    </ng-template>
                        
                    <plex-button icon="mdi mdi-close" type="danger" (click)="onCerrar()" class="mx-2" title="Cerrar"></plex-button>
                    
                </div>
            </section>
        </header>
        
        <!-- Formulario Encabezado del Recargo -->
        <app-recargo-form
            *ngIf="recargo"
            #recargoForm
            [recargo]="recargo"
            [editable]='isEditable'
            (changed)="onChangedRecargoForm($event)">
        </app-recargo-form>
        <br>
        
        <!-- Feedback para el usuario. Indica que se generando la planilla -->
        <plex-loader 
            *ngIf="generandoPlanilla"
            class="d-flex flex-column align-items-center justify-content-center h-75"
            type="ball-beat">
        </plex-loader>

        <app-search-leyenda
            *ngIf="!recargo?.mes || !recargo?.anio"
            [header]="'Seleccione un periodo para comenzar a trabajar!'"
            [subHeader]="' - '">
        </app-search-leyenda>

        <!-- Planilla de recargos por agente -->
       
        
        <!-- Modal para la seleccion/carga de agentes a la planilla -->
        <jw-modal id="modal-add-agente">
            <app-agente-select
                *ngIf="agenteSearchParams"
                [agentesExclude]="agentesSeleccionados"
                (cancel)="onAddAgenteCancel()"
                (selected)="onAddAgenteSelected($event)">
            </app-agente-select>
        </jw-modal>

    </plex-layout-main>
</plex-layout>