<plex-layout main="12">

    <plex-layout-main>
        <header class="d-flex flex-row justify-content-between subheader">
            <div>
                <h5><strong>{{ titulo }}</strong></h5>
            </div>
            <div class="d-flex flex-row justify-content-end">
                <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="cancelar()">Cerrar</plex-button>
            </div>
        </header>
        <ng-template #searchForm></ng-template>
        <br>

        <div class="d-flex justify-content-end mb-4">
            <plex-button
                label="Nuevo"
                type="info"
                (click)="altaObject()">
            </plex-button>
        </div>
        
        <plex-loader 
            *ngIf="searching"
            class="d-flex flex-column align-items-center justify-content-center h-75"
            type="ball-beat">
        </plex-loader>
        <app-search-leyenda
            *ngIf="searched && objects && !objects.length"
            [header]="'No se encontraron resultados!'">
        </app-search-leyenda>

        <ng-template #itemList></ng-template>
        
        <div class="d-flex justify-content-center mt-4">
            <plex-button
                *ngIf="showMore"
                label="Mostrar más resultados"
                type="info"
                (click)="onShowMoreResultados()">
            </plex-button>
        </div>
        
    </plex-layout-main>   
</plex-layout>

