<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5><strong>{{ titulo }} | </strong> {{ subtitulo }}</h5>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <div *ngIf="!editable">
            <plex-button
                label="Editar"
                type="info"
                (click)="editable = !editable"
                class="mx-2">
            </plex-button>
            <plex-button
                type="danger" 
                icon="mdi mdi-close" 
                title="Cerrar"
                (click)="cancelar()">
            </plex-button>
        </div>
        <div *ngIf="editable">
            <plex-button
                label="Guardar"
                type="success"
                (click)="guardar()"></plex-button>
            <plex-button
                class="mx-2"
                label="Cancelar"
                type="danger"
                (click)="cancelar()">
            </plex-button>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-md-3 col-xs-12 d-flex justify-content-start align-items-center flex-column">
        <app-agente-foto
            [agente]="agente"
            [editable]="false"
            [size]="'md'">
        </app-agente-foto>
        <article class="d-flex flex-column">
            <h5 class="mt-2 mb-4">
                {{ agente.nombre }}
                <strong>{{ agente.apellido }}</strong>
            </h5>
        </article>
    </div>
    
    <div class="col-md-9 col-xs-12">
        <app-agente-notas-form
            [agente]="agente"
            [item]="item"
            [editable]="editable">
        </app-agente-notas-form>
        <div class="mt-4 mb-4"></div>
        <app-file-manager
            *ngIf="item"
            [title]="'Adjuntos'"
            [size]="'sm'"
            [filesOwner]="item"
            [editable]="editable">
        </app-file-manager>
    </div>
</div>