<plex-layout main="8">  
    <plex-layout-main>
        <app-buscador>

        </app-buscador>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        
        <!-- Layout detalle -->
        <header class="d-flex flex-row justify-content-between">
            <h5>Detalle Agente</h5>
            <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="volverInicio()">Volver</plex-button>
        </header>
        <ng-container *ngIf="agentes$ | async as agente">
            <section class="d-flex flex-row">
                <div class="d-flex flex-column align-items-center mr-4">    
                    <img class="item-img mb-4" src="{{ agente.foto }}" alt="">

                </div>
                <article class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <plex-badge type="info">{{ agente.situacion }}</plex-badge>
                        <plex-badge type="{{ agente.estado }}">{{ agente.estado }}</plex-badge>
                    </div>
                    <h3 class="mt-2 mb-4">
                        {{ agente.nombre }}<br>
                        <strong>{{ agente.apellido }}</strong>
                    </h3>
                </article>
            </section>
            <section>
                <article class="d-flex flex-row">
                    <div class="d-flex flex-column align-items-center mr-4">
                        <b>DNI/D.U</b>
                        <p>{{ agente.dni }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <b>Fecha de nacimiento</b>
                        <p>{{ agente.fechaNacimiento }}</p>
                    </div>
                </article>
            </section>
            <hr class="white">
            <ul>
                <li *ngFor="let acordion of acordions">
                    <plex-accordion >
                        <plex-panel icon="{{ acordion.icon }}" tituloPrincipal="{{ acordion.titulo }}" tituloSecundario="Fecha de nacimiento">
                            <p>{{ acordion.titulo }}</p>
                            <p>{{ agente.fechaNacimiento }}</p>
                        </plex-panel>
                    </plex-accordion>
                </li>
            </ul>
            <!-- /Layout detalle -->
        </ng-container>


    </plex-layout-sidebar>


</plex-layout>

