<ng-container *ngFor="let item of listado; let i=index">
    <div class="item-row" (click)="seleccionarItem(item)"
        [ngClass]="{'item-row-selected': itemSelected?._id == item._id}">
        <div class="item-column sm">
            <div class="d-flex flex-row justify-content-start">
                <plex-label
                    title="Art. {{ item.articulo?.codigo }} {{ item.articulo?.descripcion}}"                   
                    titulo="{{ item.articulo?.codigo }} {{ (item.articulo?.descripcion.length > 15)? (item.articulo?.descripcion | slice:0:12 ) + '...' : item.articulo?.descripcion }}"
                    subtitulo="{{ item.fechaDesde | fecha:'utc' }} - {{ item.fechaHasta | fecha:'utc' }}">
                </plex-label>
            </div>    
        </div>
        <div class="item-column item-botonera">
            <div class="d-flex flex-row justify-content-end">
                <plex-badge type="info">
                        {{ item.cantidadDias }} DÍAS
                </plex-badge>
                <ng-template [ngxPermissionsOnly]="'agentes:ausentismo:change_ausentismo'">
                    <plex-button 
                        *ngIf="editable"
                        title="Editar Ausentismo"
                        size="sm"
                        type="warning"
                        icon="mdi mdi-pencil"
                        (click)="editItem(item)">
                    </plex-button>
                </ng-template>
                
                <plex-dropdown
                    *ngIf="editable"
                    title="Acciones Extras"
                    icon="dots-vertical"
                    [type]="'sm btn-info'"
                    [right]="true"
                    [items]="accionesDropdownMenu[i]">
                </plex-dropdown>
            </div>
        </div>
    </div>
</ng-container>
