<plex-layout main="8">
    <plex-layout-main>
        <header>
            <section class="d-flex flex-row justify-content-between mb-2">
                <h5 class="align-self-center" *ngIf="!agente.id">
                    <strong>Agente |</strong> Alta de agente
                </h5>
                <h5 class="align-self-center" *ngIf="agente.id">
                        <strong>Agente |</strong>
                        {{ (isEditable)? 'Edición de agente' : 'Detalle de agente' }}
                    </h5>
                <div class="d-flex flex-row justify-content-end">
                    <div *ngIf="!isEditable">
                        <plex-button label="Editar Agente" type="info" (click)="onEditar()" class="mx-2"></plex-button>
                        <plex-button label="Nueva Historia Laboral" type="info" (click)="onCancelar()" class="mx-2"></plex-button>
                        <plex-button type="danger"  icon="mdi mdi-close"  (click)="onCancelar()" title="Cerrar"></plex-button>
                    </div>
                    <div *ngIf="isEditable">
                        <plex-button label="Guardar" type="success" (click)="saveAgente()"></plex-button>
                        <plex-button class="mx-2" label="Cancelar" type="danger" (click)="onCancelar()"></plex-button>
                    </div>
                    
                </div>
            </section>
        </header>
        <plex-tabs #tabs>
            <plex-tab label="GENERAL">
                <div *ngIf="agente">
                    <agente-datos-basicos 
                        [agente]="agente"
                        [editable]="isEditable"
                        (outputAgente)='onValueChangeAgente($event)'>
                    </agente-datos-basicos>
                </div>
            </plex-tab>
            <plex-tab label="DOMICILIO">
                <div *ngIf="direccion">
                    <agente-datos-direccion 
                        [direccion]="direccion"
                        [editable]="isEditable"
                        (outputDireccion)='onValueChangeDireccion($event)'>
                    </agente-datos-direccion>
                </div>
            </plex-tab>
            <plex-tab label="CONTACTO">
                <div *ngIf="contactos">
                    <agente-datos-contacto 
                        [contactos]="contactos"
                        [editable]="isEditable"
                        (outputContactos)='onValueChangeContactos($event)'>
                    </agente-datos-contacto>
                </div>
            </plex-tab>
            <plex-tab label="EDUCACIÓN">
                <div *ngIf="educacion">
                    <agente-datos-educacion 
                        [educacion]="educacion"
                        [editable]="isEditable"
                        (outputEducacion)='onValueChangeEducacion($event)'>
                    </agente-datos-educacion>
                </div>
            </plex-tab>
            <plex-tab label="SITUACIÓN">
                <div *ngIf="situacion">
                    <agente-datos-situacion
                        [situacion]="situacion"
                        [editable]="isEditable"
                        (outputSituacion)='onValueChangeSituacion($event)'>
                    </agente-datos-situacion>
                </div>
            </plex-tab>
            <plex-tab label="CARGO">
                <div *ngIf="cargo">
                    <agente-datos-cargo
                        [cargo]="cargo"
                        [editable]="isEditable"
                        (outputCargo)='onValueChangeCargo($event)'>
                    </agente-datos-cargo>
                </div>
            </plex-tab>
            <plex-tab label="REGÍMENES">
                <div *ngIf="regimen">
                    <agente-datos-regimen
                        [regimen]="regimen"
                        [editable]="isEditable"
                        (outputRegimen)='onValueChangeRegimen($event)'>
                    </agente-datos-regimen>
                </div>
            </plex-tab>
            <plex-tab label="ADJUNTOS">
                <br>
                <app-file-manager *ngIf="agente" [filesOwner]="agente">
                </app-file-manager>
            </plex-tab>

            <!-- Habilitar cuando sea posible 
                <div *ngIf="agente"
                class="d-flex flex-row justify-content-end align-items-center">
                <plex-button 
                    class="cal-arrow mr-2"
                    type="info"
                    icon="chevron-left"
                    (click)="prevTab()">
                </plex-button>
                <plex-button 
                    class="cal-arrow"
                    type="info"
                    icon="chevron-right" 
                    (click)="nextTab()">
                </plex-button>
            </div> -->
        </plex-tabs>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <app-agente-detalle *ngIf="agenteDetalle"
            [agente]="agenteDetalle"
            [foto]="agenteDetalle.foto"
            [direccion]="agenteDetalle.direccion"
            [contactos]="agenteDetalle.contactos"
            [educacion]="agenteDetalle.educacion"
            [situacion]="agenteDetalle.situacionLaboral?.situacion"
            [regimen]="agenteDetalle.situacionLaboral?.regimen">
        </app-agente-detalle>
    </plex-layout-sidebar>
</plex-layout>
