<plex-layout main="12">
    <plex-layout-main>
        <header>
            <section class="d-flex flex-row justify-content-between mb-2">
                <h5 class="align-self-center" *ngIf="!agente?._id">
                    <strong>Agente </strong> | Alta de agente
                </h5>
                <h5 class="align-self-center" *ngIf="agente?._id">
                        <strong>Agente </strong>|
                        {{ (isEditable)? ' Edición de agente' : ' Detalle de agente' }}
                    </h5>
                <div class="d-flex flex-row justify-content-end">
                    <div *ngIf="!isEditable">
                        <plex-button
                            *ngIf="agente?._id"
                            class="mr-2"
                            label="Ver Historia"
                            type="info"
                            (click)="onHistory()">
                        </plex-button>
                         <plex-button
                            title="Ver Ausencias"
                            icon="clock"
                            type="success"
                            [routerLink]="['/agentes', agente?._id, 'ausentismo']"
                            class="mr-2">
                        </plex-button>
                        <plex-button
                            *ngIf="agente?.activo"
                            title="Editar Agente"
                            icon="mdi mdi-pencil" 
                            type="warning"
                            (click)="onEditar()"
                            class="mr-2">
                        </plex-button>
                        <plex-button
                            type="danger" 
                            icon="mdi mdi-close" 
                            title="Cerrar"
                            routerLink="/agentes">
                        </plex-button>
                    </div>
                    <div *ngIf="isEditable">
                        <plex-button label="Guardar" type="success" (click)="saveAgente()"></plex-button>
                        <plex-button
                            class="mx-2"
                            label="Cancelar"
                            type="danger"
                            routerLink="/agentes">
                        </plex-button>
                    </div>
                </div>
            </section>
        </header>
        <plex-tabs #tabs>
            <plex-tab label="GENERAL" [color]="tabsStatus.general">
                <div *ngIf="agente">
                    <agente-datos-basicos 
                        [agente]="agente"
                        [editable]="isEditable"
                        (outputAgente)='onValueChangeAgente($event)'>
                    </agente-datos-basicos>
                </div>
            </plex-tab>
            <plex-tab label="DOMICILIO" [color]="tabsStatus.domicilio">
                <div *ngIf="direccion">
                    <agente-datos-direccion 
                        [direccion]="direccion"
                        [editable]="isEditable"
                        (outputDireccion)='onValueChangeDireccion($event)'>
                    </agente-datos-direccion>
                </div>
            </plex-tab>
            <plex-tab label="CONTACTO" [color]="tabsStatus.contacto">
                <div *ngIf="contactos">
                    <agente-datos-contacto 
                        [contactos]="contactos"
                        [editable]="isEditable"
                        (outputContactos)='onValueChangeContactos($event)'>
                    </agente-datos-contacto>
                </div>
            </plex-tab>
            <plex-tab label="EDUCACIÓN" [color]="tabsStatus.educacion">
                <div *ngIf="educacion">
                    <agente-datos-educacion 
                        [educacion]="educacion"
                        [editable]="isEditable"
                        (outputEducacion)='onValueChangeEducacion($event)'>
                    </agente-datos-educacion>
                </div>
            </plex-tab>
            <plex-tab label="DATOS LABORALES" [color]="tabsStatus.datosLaborales">
                <div *ngIf="situacionLaboral">
                    <agente-datos-generales
                        [situacionLaboral]="situacionLaboral"
                        [editable]="isEditable"
                        (change)='onValueChangeSituacionLaboral($event)'>
                    </agente-datos-generales>
                </div>
                <h5 class="subheader mt-4">Norma Legal</h5>
                <div *ngIf="normaLegal">
                    <agente-datos-norma-legal
                        [normaLegal]="normaLegal"
                        [editable]="isEditable"
                        (change)='onValueChangeNormaLegal($event)'>
                    </agente-datos-norma-legal>
                </div>
            </plex-tab>
            <plex-tab label="SITUACIÓN" [color]="tabsStatus.situacion">
                <div *ngIf="situacion">
                    <agente-datos-situacion
                        [situacion]="situacion"
                        [editable]="isEditable"
                        (outputSituacion)='onValueChangeSituacion($event)'>
                    </agente-datos-situacion>
                </div>
            </plex-tab>
            <plex-tab label="CARGO" [color]="tabsStatus.cargo">
                <div *ngIf="cargo">
                    <agente-datos-cargo
                        [cargo]="cargo"
                        [editable]="isEditable"
                        (outputCargo)='onValueChangeCargo($event)'>
                    </agente-datos-cargo>
                </div>
            </plex-tab>
            <plex-tab label="REGÍMENES" [color]="tabsStatus.regimenes">
                <div *ngIf="regimen">
                    <agente-datos-regimen
                        [regimen]="regimen"
                        [editable]="isEditable"
                        (outputRegimen)='onValueChangeRegimen($event)'>
                    </agente-datos-regimen>
                </div>
            </plex-tab>
            <plex-tab label="ADJUNTOS">
                <br>
                <app-file-manager
                    *ngIf="agente"
                    [filesOwner]="agente"
                    [editable]="isEditable">
                </app-file-manager>
            </plex-tab>

            <plex-tab label="HISTORIA LABORAL" *ngIf="agente?._id">
                <div class="mt-4">
                    <app-historia-laboral-list
                        [agente]="agente"
                        [historiaLaboral]="agente?.historiaLaboral"
                        [editable]="isEditable"
                        (changed)="onValueChangeHistoriaLaboral($event)">
                    </app-historia-laboral-list>
                </div>
            </plex-tab>

            <plex-tab label="NOTAS" *ngIf="agente?._id">
                <div class="mt-4">
                    <app-agente-notas-list
                        *ngIf="notas"
                        [agente]="agente"
                        [notas]="notas"
                        [editable]="isEditable">
                    </app-agente-notas-list>
                </div>
            </plex-tab>

            <!-- Habilitar cuando sea posible 
                <div *ngIf="agente"
                class="d-flex flex-row justify-content-end align-items-center">
                <plex-button 
                    class="cal-arrow mr-2"
                    type="info"
                    icon="chevron-left"
                    (click)="prevTab()">
                </plex-button>
                <plex-button 
                    class="cal-arrow"
                    type="info"
                    icon="chevron-right" 
                    (click)="nextTab()">
                </plex-button>
            </div> -->
        </plex-tabs>
    </plex-layout-main>
    <!-- <plex-layout-sidebar type="invert">
        <app-agente-detalle *ngIf="agenteDetalle"
            [agente]="agenteDetalle"
            [foto]="agenteDetalle.foto"
            [direccion]="agenteDetalle.direccion"
            [contactos]="agenteDetalle.contactos"
            [educacion]="agenteDetalle.educacion"
            [situacion]="agenteDetalle.situacionLaboral?.situacion"
            [regimen]="agenteDetalle.situacionLaboral?.regimen">
        </app-agente-detalle>
    </plex-layout-sidebar> -->
</plex-layout>
