<plex-list [striped]="true" [fullWidth]="true" *ngIf="objects && objects.length">
    <plex-heading [layout]="layout">
        <label>Fecha</label>
        <label>Descripción</label>
    </plex-heading>
    <ng-container *ngFor="let object of objects; let i=index">
        <plex-item [layout]="layout">
            
            <plex-label titulo="{{object.fecha | fecha:'utc' }}" [tituloBold]="true"></plex-label>
            <plex-label titulo="{{ object.descripcion }}"></plex-label>          
            <!-- <plex-button 
                type="info"
                size="sm"
                icon="mdi mdi-eye"
                (click)="seleccionarObjeto(object, i)">Ver
            </plex-button> -->
            <plex-button
                type="warning"
                size="sm"
                icon="mdi mdi-pencil"
                (click)="seleccionarObjeto(object, i)">Editar
            </plex-button>
            <plex-button
                type="danger"
                size="sm"
                icon="mdi mdi-close"
                (click)="seleccionarObjeto(object, i)">Editar
            </plex-button>
            <!-- <plex-dropdown
                icon="dots-vertical mdi-24px"
                [right]="true"
                [items]="accionesDropdownMenu[i]">
            </plex-dropdown> -->

        </plex-item>
    </ng-container>
</plex-list>