
<ng-container *ngIf="agente">
<header class="d-flex flex-row justify-content-between">
    <div>
        <h5>Detalle Agente</h5>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <plex-button type="succesful" icon="pencil" size="sm" (click)="gotoAgente()">Volver</plex-button>
        <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="volverInicio()">Volver</plex-button>
    </div>
</header>
    <section class="d-flex flex-row mt-2">
        <div class="d-flex flex-column align-items-center mt-2">
            <app-agente-foto
                [agente]="agente">
            </app-agente-foto>
        </div>
        <article class="d-flex flex-column">
            <div class="d-flex flex-row">
                <plex-badge type="info">{{ agente.situacion }}</plex-badge>
                <plex-badge type="{{ agente.estado }}">{{ agente.estado }}</plex-badge>
            </div>
            <h3 class="mt-2 mb-4">
                {{ agente.nombre }}<br>
                <strong>{{ agente.apellido }}</strong>
            </h3>
        </article>
    </section>
    <section>
        <article class="d-flex flex-row">
            <div class="d-flex flex-column align-items-center mr-4">
                <b>DNI/D.U</b>
                <p>{{ agente.documento | title }}</p>
            </div>
            <div class="d-flex flex-column">
                <b>Fecha de nacimiento</b>
                <p>{{ agente.fechaNacimiento? (agente.fechaNacimiento | fecha:'utc') : '---' }}</p>
            </div>
        </article>
    </section>

    <hr class="white">
    <ul>
        <li>
            <plex-accordion>
                <plex-panel
                    icon="mdi icon-credencial-paciente"
                    tituloPrincipal="Datos Básicos"
                    tituloSecundario="">
                    <div class="d-inline-block mr-4">
                        <strong>Edad</strong>
                        <p>{{ agente.fechaNacimiento | edad }}</p>
                    </div>
                    <div class="d-inline-block mr-4">
                        <strong>Documento</strong>
                        <p>{{ agente.documento | title }}</p>
                    </div>
                    <div class="d-inline-block mr-4">
                        <strong>Sexo/género</strong>
                        <p>{{ agente.sexo | title:'nombre' }}</p>
                    </div>
                    <div class="d-inline-block mr-4">
                        <strong>Fecha de Nacimiento</strong>
                        <p>{{ agente.fechaNacimiento | fecha:'utc' }}</p>
                    </div>
                    <div class="d-inline-block mr-4">
                        <strong>Cuil</strong>
                        <p>{{ agente.cuil | title }}</p>
                    </div>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                <plex-panel 
                    icon="mdi icon-marcador"
                    tituloPrincipal="Domicilio">
                    <div *ngIf=direccion>
                        <article class="d-inline-block mr-4">
                            <strong>Dirección</strong>
                            <p>{{ direccion.valor | title }}</p>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Provincia</strong>
                            <p *ngIf="direccion.ubicacion && direccion.ubicacion.provincia;else no_content">
                                {{ direccion.ubicacion.provincia.nombre | title}}
                            </p>
                            <ng-template #no_content><p>---</p></ng-template>
                            
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Localidad</strong>
                            <p>{{ direccion.ubicacion? (direccion.ubicacion.localidad | title) : '---' }}</p>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Barrio</strong>
                            <p>{{ direccion.ubicacion? (direccion.ubicacion.barrio | title) : '---' }}</p>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Cod. Postal</strong>
                            <p> {{ direccion.codigoPostal | title }}</p>
                        </article>
                    </div>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion >
                <plex-panel 
                    icon="mdi icon-telefono"
                    tituloPrincipal="Datos de Contacto">
                    <ng-container *ngFor="let contacto of contactos">
                        <article class="d-inline-block mr-4">
                                <strong>Tipo de Contacto</strong>
                                <p>{{ contacto.tipo | title: 'nombre'}}</p>
                            </article>
                            <article class="d-inline-block mr-4">
                                <strong>Contacto</strong>
                                <p>{{ contacto.valor }}</p>
                            </article>
                    </ng-container>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                 <!-- Educacion -->
                 <plex-panel icon="mdi icon-estudiante" tituloPrincipal="Educacion" tituloSecundario="">
                    <ng-container *ngFor="let estudio of educacion">
                        <article *ngIf="estudio" class="d-inline-block mr-4">
                            <strong>Nivel obtenido</strong>
                            <p>{{ estudio.tipoEducacion | title }}</p>
                        </article>
                        <article *ngIf="estudio" class="d-inline-block mr-4">
                            <strong>Titulo obtenido</strong>
                            <p>{{ estudio.titulo}}</p>
                        </article>
                    </ng-container>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion >
                <plex-panel 
                    icon="mdi icon-hospital"
                    tituloPrincipal="Situación y Cargo">
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion >
                <plex-panel 
                    icon="mdi icon-nodos"
                    tituloPrincipal="Regímenes">
                </plex-panel>
            </plex-accordion>
        </li>
    </ul>
    <!-- /Layout detalle -->
</ng-container>

