::ng-deep header.subheader {
    // margin-top:30px;
    padding-bottom: 4px;
    border-bottom: 1px solid #a5a5a5;
    margin-bottom: 20px;
}

/* MODAL STYLES
-------------------------------*/
::ng-deep jw-modal {
    /* modals are hidden by default */
    display: none;

    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .jw-modal-background */
        z-index: 1050;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
            padding: 20px;
            background: #fff;

            /* margin exposes part of the modal background */
            margin: 100px;
            border-radius: 5px;
        }
    }

    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color:rgba(0, 0, 0, 0.4);
        
        /* z-index must be below .jw-modal and above everything else  */
        z-index: 1030;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}


$gap: 5px;

// ::ng-deep dl {
//   background-color: #eee;
//   display: flex;
//   flex-wrap: wrap;
//   padding: 20px $gap/2;
//   dt, dd {
//     margin: $gap/2;
//     text-indent: 10px;}
//   dt {
//     background-color: gold;
//     flex: 0 0 calc(100% - #{$gap});
//   }
//   dd {
//     background-color: lightblue;
//     flex: 0 0 calc(30% - #{$gap});
//   }
//   .half {
//     flex: 0 0 calc(70% - #{$gap});
//    }
// }



::ng-deep { 
    .item-row {
      border: 1px solid #eee;
      display: flex;
      flex-wrap: wrap;
      padding: 10px $gap/2;
      cursor: pointer;
    }

    .item-row-selected {
      background-color: #00a1dfb0;
      // opacity: 0.2;
      outline: none;
      border: 2px solid;
      box-shadow: 0 0 10px #00a1df;
      
      .badge-info {
        color: #fff;
      }
    }

    .item.row, .item-column {
      margin: $gap/2;
      text-indent: 10px;
    }

    .item-column {
      // background-color: gold;
      flex: 0 0 calc(100% - #{$gap});
    }

    .item-column {
      
      flex: 0 0 calc(55% - #{$gap});
      height: 30px;
    }
    .item-botonera {
      flex: 0 0 calc(45% - #{$gap});
     }
  }

  /* Listados plex-item */
  ::ng-deep div.item-list plex-label {
    min-height: 45px !important;
}

// inset 0px 0px 5px 1px rgba(240,173,78,1);
// 0px 0px 12px 6px rgba(240,173,78,1)