<div class="row">
    <div class="col-md-3 col-xs-12 d-flex justify-content-start align-items-center flex-column">
        <app-agente-foto
            [agente]="agente"
            [editable]="false"
            [size]="'md'">
        </app-agente-foto>
        <article class="d-flex flex-column">
            <h5 class="mt-2 mb-4">
                {{ agente.nombre }}
                <strong>{{ agente.apellido }}</strong>
            </h5>
        </article>
    </div>
    <div class="col-md-9 col-xs-12">
        <plex-tabs #tabs>
            <plex-tab label="DATOS GENERALES">
                <br>
                <form name="form" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <plex-datetime
                                type="date"
                                label="Fecha de baja"
                                name="fecha"
                                formControlName="fecha"
                                [required]="true"
                                [readonly]="!editable"
                                class="input-sm">
                            </plex-datetime>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <plex-select 
                                [data]="causas$ | async"
                                name="motivo"
                                formControlName="motivo"
                                [required]="true"
                                [readonly]="!editable"
                                label="Motivo"
                                placeholder="Seleccione...">
                            </plex-select>
                        </div>
                    </div>
                </form>  
            </plex-tab>
            <plex-tab label="NORMA LEGAL">
                <div *ngIf="normaLegal">
                    <agente-datos-norma-legal
                        [normaLegal]="normaLegal"
                        [editable]="editable">
                    </agente-datos-norma-legal>
                </div>                
            </plex-tab>
        </plex-tabs>           
    </div>
</div>