<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5><strong>Agente | </strong> Baja</h5>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <plex-button label="Guardar" type="success" (click)="guardar()"></plex-button>
        <plex-button class="mx-2" label="Cancelar" type="danger" (click)="cancelar()"></plex-button>
    </div>
</header>

<app-agente-baja-form
    [agente]="agente"
    [baja]="baja"
    [editable]="editable">
</app-agente-baja-form>