<div [formGroup]="form">
    <plex-select 
        *ngIf="editable"
        (getData)="onSearchAgentes($event)" 
        (change)="onChangeAgenteSelect($event)" 
        label="Agente"
        name="agente"
        formControlName="agente"
        placeholder="Ingrese Nombre, Apellido o Legajo para comenzar la búsqueda"
        [required]="required"
        [idField]="'_id'"
        [labelField]="'data'">
    </plex-select>

    <plex-text
        *ngIf="!editable"
        label="Agente"
        name="agente"
        [(ngModel)]="agenteText"
        [ngModelOptions]="{standalone: true}"
        [required]="required"
        [readonly]="true">
    </plex-text>
</div>