<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5><strong>AUSENTISMO |</strong> Indicadores</h5>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="onClose()">Cerrar</plex-button>
    </div>
</header>
<app-indicador-licencias
    *ngIf="agente?._id"
    [agente]="agente">
</app-indicador-licencias>
<br>
<app-indicador-licencias-detalle
    *ngIf="agente?._id"
    [agente]="agente"
    [editable]="true">
</app-indicador-licencias-detalle>
