<ng-container *ngIf="agente">
    <header class="d-flex flex-row justify-content-between subheader">
        <div>
            <h5><strong>Agente |</strong> Detalle</h5>
        </div>
        <div *ngIf="showActions" class="d-flex flex-row justify-content-end">
            <plex-button
                title="Ver Agente Detalle"
                type="info"
                size="sm"
                class="mr-2"
                icon="mdi mdi-eye"
                (click)="gotoAgente(agente)"
            >
            </plex-button>
            <plex-button
                title="Cerrar"
                type="danger"
                icon="mdi mdi-close"
                size="sm"
                (click)="onCerrar()"
            >
            </plex-button>
        </div>
    </header>
    <app-agente-detalle-header [agente]="agente"></app-agente-detalle-header>
    
    <ul>
        <li>
            <plex-accordion>
                <plex-panel
                    icon="mdi icon-credencial-paciente"
                    tituloPrincipal="Datos Básicos"
                    tituloSecundario=""
                >
                    <div class="d-inline-block mr-4">
                        <strong>Edad</strong>
                        <p>{{ agente.fechaNacimiento | edad }}</p>
                    </div>
                    <div class="d-inline-block mr-4">
                        <strong>Documento</strong>
                        <p>{{ agente.documento | title }}</p>
                    </div>
                    <div class="d-inline-block mr-4">
                        <strong>Sexo/género</strong>
                        <p>{{ agente.sexo | title:'nombre' }}</p>
                    </div>
                    <div class="d-inline-block mr-4">
                        <strong>Fecha de Nacimiento</strong>
                        <p>{{ agente.fechaNacimiento | fecha:'utc' }}</p>
                    </div>
                    <div class="d-inline-block mr-4">
                        <strong>Cuil</strong>
                        <p>{{ agente.cuil | title }}</p>
                    </div>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                <plex-panel
                    icon="mdi icon-marcador"
                    tituloPrincipal="Domicilio"
                >
                    <div *ngIf="direccion">
                        <article class="d-inline-block mr-4">
                            <strong>Dirección</strong>
                            <p>{{ direccion.valor | title }}</p>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Provincia</strong>
                            <p *ngIf="direccion.localidad;else no_content">
                                {{ direccion.localidad.provincia|
                                title:'nombre'}}
                            </p>
                            <ng-template #no_content><p>---</p></ng-template>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Localidad</strong>
                            <p>{{ direccion.localidad | title:'nombre' }}</p>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Barrio</strong>
                            <p>{{ direccion.barrio | title }}</p>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Cod. Postal</strong>
                            <p>{{ direccion.codigoPostal | title }}</p>
                        </article>
                    </div>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                <plex-panel
                    icon="mdi icon-telefono"
                    tituloPrincipal="Datos de Contacto"
                >
                    <ng-container *ngFor="let contacto of contactos">
                        <article class="d-inline-block mr-4">
                            <strong>Tipo de Contacto</strong>
                            <p>{{ contacto.tipo | title: 'nombre'}}</p>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Contacto</strong>
                            <p>{{ contacto.valor }}</p>
                        </article>
                    </ng-container>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                <!-- Educacion -->
                <plex-panel
                    icon="mdi icon-estudiante"
                    tituloPrincipal="Educacion"
                    tituloSecundario=""
                >
                    <ng-container *ngFor="let estudio of educacion">
                        <article *ngIf="estudio" class="d-inline-block mr-4">
                            <strong>Nivel</strong>
                            <p>{{ estudio.tipoEducacion | title }}</p>
                        </article>
                        <article *ngIf="estudio" class="d-inline-block mr-4">
                            <strong>Titulo obtenido</strong>
                            <p>{{ estudio.titulo}}</p>
                        </article>
                    </ng-container>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                <plex-panel
                    icon="mdi icon-hospital"
                    tituloPrincipal="Situación y Cargo"
                >
                    <div *ngIf="situacionLaboral">
                        <article class="d-inline-block mr-4">
                            <strong>Ingreso Hospital</strong>
                            <p>
                                {{ situacionLaboral.fechaIngresoHospital |
                                fecha:'utc' }}
                            </p>
                        </article>
                    </div>
                    <div *ngIf="situacionLaboral?.situacion">
                        <article class="d-inline-block mr-4">
                            <strong>Situación en Planta</strong>
                            <p>
                                {{ situacionLaboral.situacion.tipoSituacion |
                                title:'nombre' }}
                            </p>
                        </article>
                    </div>
                    <div *ngIf="cargo">
                        <article class="d-inline-block mr-4">
                            <strong>Cargo</strong>
                            <p>{{ cargo.subpuesto | title:'nombre' }}</p>
                        </article>
                    </div>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                <plex-panel icon="mdi icon-nodos" tituloPrincipal="Regímenes">
                    <div *ngIf="regimen">
                        <article class="d-inline-block mr-4">
                            <strong>Régimen Horario</strong>
                            <p>
                                {{ regimen.regimenHorario | title:'nombre' }}
                                hs.
                            </p>
                        </article>
                        <article class="d-inline-block mr-4">
                            <strong>Dedicación Exclusiva</strong>
                            <p>
                                {{ regimen.dedicacionExclusiva? 'Si' : 'No' }}
                            </p>
                        </article>
                    </div>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                <plex-panel icon="mdi icon-nodos" tituloPrincipal="Ausentismo">
                    <app-indicador-licencias
                        *ngIf="agente"
                        [agente]="agente">
                    </app-indicador-licencias>
                    <app-indicador-licencias-detalle
                        *ngIf="agente"
                        [agente]="agente">
                    </app-indicador-licencias-detalle>
                </plex-panel>
            </plex-accordion>
        </li>
        <li>
            <plex-accordion>
                <plex-panel icon="mdi icon-nodos" tituloPrincipal="Notas">
                    <plex-loader
                        *ngIf="!notas"
                        class="d-flex flex-column align-items-center justify-content-center h-75"
                        type="ball-beat"
                    >
                    </plex-loader>
                    <list-item
                        *ngFor="let item of notas; let i=index"
                        [item]="item"
                        [itemSelected]="itemSelected"
                        [botonera]="false"
                    >
                        <plex-label
                            class="wp-40"
                            titulo="{{ item.updatedAt | fecha:'diahora' }}"
                            subtitulo="{{ item.usuario?.apellido }}, {{ item.usuario?.nombre }}"
                        >
                        </plex-label>
                        <plex-label
                            class="wp-60"
                            titulo="{{ item.titulo | title }}"
                        >
                        </plex-label>
                    </list-item>
                </plex-panel>
            </plex-accordion>
        </li>
    </ul>
    <!-- /Layout detalle -->
</ng-container>
