
<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5><strong>AUSENTISMO |</strong> {{ formTitle }}</h5>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <plex-button *ngIf="ausentismo" class="mr-2" type="primary" icon="mdi mdi-printer" size="sm" (click)="onPrint()"></plex-button>
        <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="onClose()">Cerrar</plex-button>
    </div>
</header>
<app-ausentismo-carga-add
    *ngIf="!ausentismo && agente"
    [agente]="agente"
    (onSuccess)="onSuccess($event)"
    (onErrors)="onErrors($event)"
    (onWarnings)="onWarnings($event)">
</app-ausentismo-carga-add>
<app-ausentismo-carga-update
    *ngIf="ausentismo"
    [ausentismo]="ausentismo"
    [ausentismoFiles]="ausentismoFiles"
    (onSuccess)="onSuccess($event)"
    (onErrors)="onErrors($event)"
    (onWarnings)="onWarnings($event)">
</app-ausentismo-carga-update>
