<plex-layout main="12">
    <plex-layout-main>
        <section>
            <plex-box>
                <div class="text-center">
                    <!-- <section class="contenedor-marca-h">
                        <div svgLogo></div>
                        <div class="bloque-texto">
                            <div svgAcronimo></div>
                            <h5 class="suffix-provincia">{{ provincia }} </h5>
                        </div>
                    </section> -->
                    <div *ngIf="menu" class="andes-inicio row">
                        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of menu">
                            <app-block-menu
                                [icon]="item.icono"
                                [titulo]="item.titulo"
                                [subtitulo]="item.subtitulo"
                                [detalle]="item.detalle"
                                [url]="item.url"
                                [color]="item.color">
                            </app-block-menu>
                        </div>
                    </div>
                    <!-- <div *ngIf="!denied" class="andes-inicio row">
                        <div *ngIf="mpi" class="col-xs-12 col-sm-6 col-md-4">
                            <div class="boton color-celeste" routerLink="/agentes">
                                <i class="icono mdi mdi-account-multiple-outline"></i>
                                <div class="titulo">Agentes</div>
                                <div class="subtitulo"></div>
                                <div class="detalle"></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="boton color-violeta" routerLink="/partes">
                                <i class="icono mdi mdi-clock"></i>
                                <div class="titulo">Partes</div>
                                <div class="subtitulo"></div>
                                <div class="detalle"></div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="boton color-rosa" routerLink="/guardias">
                                <i class="icono mdi mdi-calendar"></i>
                                <div class="titulo">Guardias</div>
                                <div class="subtitulo"></div>
                                <div class="detalle"></div>
                            </div>
                        </div>
        
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="boton color-amarillo" routerLink="/reportes">
                                <i class="icono mdi mdi-file-pdf"></i>
                                <div class="titulo">Reportes</div>
                                <div class="subtitulo"></div>
                                <div class="detalle"></div>
                            </div>
                        </div>
        
                        <div  class="col-xs-12 col-sm-6 col-md-4">
                            <div class="boton color-verde" routerLink="/internacion/inicio">
                                <i class="icono mdi mdi-settings"></i>
                                <div class="titulo">Configuración</div>
                                <div class="subtitulo"></div>
                                <div class="detalle"></div>
                            </div>
                        </div>
        
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="boton color-verde-oscuro" routerLink="/gestor-usuarios/usuarios">
                                <i class="icono mdi mdi-account-key"></i>
                                <div class="titulo">Usuarios</div>
                                <div class="subtitulo"></div>
                                <div class="detalle"></div>
                            </div>
                        </div>>

                    </div>
        
                    <div *ngIf="denied" class="row">
                        <div class="col">
                            <div class="boton color-amarillo">
                                <i class="icono mdi mdi-alert"></i>
                                <div class="titulo">ATENCIÓN</div>
                                <div class="subtitulo">PERMISOS DE APLICACIONES</div>
                                <div class="detalle">Ud. no posee permisos para ningún módulo de ANDES</div>
                            </div>
                        </div>
                    </div> -->
        
                </div>
            </plex-box>
        </section>
         
    </plex-layout-main>
    <!-- <plex-layout-sidebar type="invert">
        <router-outlet>  
        </router-outlet>
    </plex-layout-sidebar> -->
</plex-layout>