<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5><strong>AUSENTISMO | </strong> Indicadores</h5>
    </div>
</header>

<section class="contenedor-indicadores">
    <article class="bloque-indicador" *ngFor="let indicador of indicadores">
        <h2>{{ indicador.numero }}</h2>
        <p>{{ indicador.detalle }}</p>
    </article>
</section>

<hr class="white">
<br>
<header class="d-flex flex-row justify-content-between">
    <div>
        <h5>Últimas ausencias</h5>
    </div>
</header>
<!-- <hr class="white"> -->


<app-ausentismo-search-form
    *ngIf="agente"
    [agente]="agente"
    (searchStart)="waitingResultados($event)"
    (searchEnd)="showResultados($event)"
    (searchClear)="clearResultados($event)">
</app-ausentismo-search-form>

<ng-container *ngIf="searching; then mostrarSearchingActivity; else mostrarResultados"></ng-container>

<ng-template #mostrarSearchingActivity>
    <plex-loader 
        class="d-flex flex-column align-items-center justify-content-center h-75"
        type="ball-beat">
    </plex-loader>
</ng-template>

<ng-template #mostrarResultados>
    <app-ausentismo-listado
        *ngIf="ausentismos?.length"
        [items]="ausentismos"
        (selected)="seleccionarAusentismo($event)"
        (edit)="editarAusentismo($event)">
    </app-ausentismo-listado>
    <app-search-leyenda
        *ngIf="!ausentismos?.length"
        [header]="'No se encontraron resultados!'"
        [subHeader]="'Podes refinar tu búsqueda modificando los filtros'">
    </app-search-leyenda>
</ng-template>

