<app-ausentismo-search-form
    [agente]="agente"
    (searchStart)="waitingResultados($event)"
    (searchEnd)="showResultados($event)"
    (searchClear)="clearResultados($event)">
</app-ausentismo-search-form>

<ng-container *ngIf="searching; then mostrarSearchingActivity; else mostrarResultados"></ng-container>
<ng-template #mostrarSearchingActivity>
    <plex-loader 
        class="d-flex flex-column align-items-center justify-content-center h-75"
        type="ball-beat">
    </plex-loader>
</ng-template>
<ng-template #mostrarResultados>
    <app-ausentismo-listado
        *ngIf="ausentismos?.length"
        [items]="ausentismos"
        (selected)="seleccionarAusentismo($event)">
    </app-ausentismo-listado>
    <app-search-leyenda
        *ngIf="!ausentismos?.length"
        [header]="'No se encontraron resultados!'"
        [subHeader]="'Podes refinar tu búsqueda modificando los filtros'">
    </app-search-leyenda>
</ng-template>

