<header class="d-flex flex-row justify-content-between subheader mt-4">
    <div>
        <h5>Paso 3. Tipo de Reporte</h5>
    </div>
</header>

<form name="form" [formGroup]="form">
    <div class="row">
        <div class="col-md-6 mb-2">
            <plex-select 
                [data]="opcionesTiposReportes"
                name="reporte"
                formControlName="reporte"
                label="Elija el reporte que desea mostrar"
                [required]="true"
                (change)="onChangeTipoReporte($event)">
            </plex-select>
        </div>
    </div>

    <app-form-filter-legajos
        *ngIf="showFilterForm == 'legajos_agentes'"
        [form]="form">
    </app-form-filter-legajos>

    <app-form-filter-list-agentes
        *ngIf="showFilterForm == 'listado_agentes'"
        [form]="form">
    </app-form-filter-list-agentes>

    <app-form-filter-ausentismo
        *ngIf="showFilterForm == 'ausentismo'"
        [form]="form"> 
    </app-form-filter-ausentismo>

    <app-form-filter-licencias
        *ngIf="showFilterForm == 'licencias_agentes'"
        [form]="form">
    </app-form-filter-licencias>


    <!-- <div class="row" *ngIf="showAnios">
        <div class="col-md-3">
            <plex-float
                name="anioDesde"
                formControlName="anioDesde"
                label="Año Desde"
                [required]="true">
            </plex-float>
        </div>
        <div class="col-md-3">
            <plex-float
                name="anioHasta"
                formControlName="anioHasta"
                label="Año Hasta"
                [required]="true">
            </plex-float>
        </div>
    </div> -->
    <!-- <div class="row" *ngIf="showPeriodos">
        <div class="col-md-3">
            <plex-datetime
                type="date"
                label="Periodo Desde"
                name="fechaDesde"
                formControlName="fechaDesde">
            </plex-datetime>
        </div>
        <div class="col-md-3">
            <plex-datetime
                type="date"
                label="Periodo Hasta"
                name="fechaHasta"
                formControlName="fechaHasta">
            </plex-datetime>
        </div>
    </div> -->
    <!-- <div class="row" *ngIf="showArticulos">
        <div class="col-md-6">
            <plex-select 
                [data]="opcionesArticulos"
                [labelField]="'codigo + descripcion'"
                [multiple]="true"
                name="articulos"
                formControlName="articulos"
                label="Articulos"
                placeholder="Seleccione articulos">
            </plex-select>
        </div>
    </div> -->
    <!-- <div class="row" *ngIf="showAgrupamiento">
        <div class="col-md-6">
            <plex-select 
                [data]="$opcionesAgrupamiento | async"
                name="agrupamiento"
                formControlName="agrupamiento"
                label="Agrupar por"
                placeholder="Seleccione una opción de agrupamiento"
                [required]="true">
            </plex-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <plex-select 
                [data]="$opcionesOrdenamiento | async"
                name="ordenamiento"
                formControlName="ordenamiento"
                label="Ordenar por"
                [required]="true">
            </plex-select>
        </div>
    </div> -->
    <!-- <div class="row">
            <div class="col-md-6">
                <plex-radio 
                    *ngIf="opcionesAgente"
                    [data]="opcionesAgente"
                    formControlName="optionAgente"
                    name="optionAgente"
                    (change)="onChangeOptionAgente($event)">
                </plex-radio>
            </div>
        </div> -->
</form>