<header class="d-flex flex-row justify-content-between subheader mt-4">
    <div>
        <h5>Paso 1. Seleccion de Agentes</h5>
    </div>
</header>
<form name="form" [formGroup]="form">
    <div class="row mb-4">
        <div class="col-md-6">
            <plex-radio 
                *ngIf="opcionesAgenteTodos"
                [data]="opcionesAgenteTodos"
                formControlName="optionAgenteTodos"
                name="optionAgenteTodos"
                (change)="updateRadioOptionSelection('optionAgenteTodos')">
            </plex-radio>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2">
            <plex-radio 
                *ngIf="opcionesAgenteLugarTrabajo"
                [data]="opcionesAgenteLugarTrabajo"
                formControlName="optionAgenteLugarTrabajo"
                name="optionAgenteLugarTrabajo"
                (change)="updateRadioOptionSelection('optionAgenteLugarTrabajo')">
            </plex-radio>
        </div>
        <div class="col-md-6">
            <app-ubicacion-form-select
                *ngIf="form"
                [parent]="form"
                [placeholder]="'Buscar Lugares de trabajo'"
                (change)="onChangeLugarTrabajo($event)"
                [required]="form.controls['optionAgenteLugarTrabajo'].value == true">
            </app-ubicacion-form-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 mb-3">
            <plex-radio 
                *ngIf="opcionesAgente"
                [data]="opcionesAgente"
                formControlName="optionAgente"
                name="optionAgente"
                (change)="updateRadioOptionSelection('optionAgente')">
            </plex-radio>
        </div>
        <div class="col-md-6">
            <app-agente-select-input
                [form]="form"
                (change)="onChangeAgente($event)"
                [required]="form.controls['optionAgente'].value == true">
            </app-agente-select-input>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <plex-label
                [titulo]="'Filtrar Agentes'"
                [size]="'lg'">
            </plex-label>
        </div>
        <div class="col-md-6">
            <plex-select 
                [data]="filtrosTiposEstados" 
                name="activo"
                formControlName="activo"
                [required]="true">
            </plex-select>
        </div>
    </div>
</form>