<header class="d-flex flex-row justify-content-between subheader mt-4">
    <div>
        <h5>Paso 1. Seleccion de Agentes</h5>
    </div>
    <!-- <div class="d-flex flex-row justify-content-end">
        <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="cancelar()">Cerrar</plex-button>
    </div> -->
</header>
<form name="form" [formGroup]="form">
    <div class="row">
        <div class="col-md-6 mb-2">
            <plex-radio 
                *ngIf="opcionesAgenteTodos"
                [data]="opcionesAgenteTodos"
                formControlName="optionAgenteTodos"
                name="optionAgenteTodos"
                (change)="updateRadioOptionSelection('optionAgenteTodos')">
            </plex-radio>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 mb-3">
            <plex-radio 
                *ngIf="opcionesAgenteLugarTrabajo"
                [data]="opcionesAgenteLugarTrabajo"
                formControlName="optionAgenteLugarTrabajo"
                name="optionAgenteLugarTrabajo"
                (change)="updateRadioOptionSelection('optionAgenteLugarTrabajo')">
            </plex-radio>
        </div>
    </div>
    <div class="row">
        <div class="ml-4 col-md-6">
            <plex-select 
                [data]="sectores"
                name="lugarTrabajo"
                formControlName="lugarTrabajo"
                placeholder="Buscar Lugares de trabajo"
                (change)="onChangeLugarTrabajo($event)" 
                [multiple]="false">
            </plex-select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 mb-3">
            <plex-radio 
                *ngIf="opcionesAgente"
                [data]="opcionesAgente"
                formControlName="optionAgente"
                name="optionAgente"
                (change)="updateRadioOptionSelection('optionAgente')">
            </plex-radio>
        </div>
    </div>
    <div class="row">
        <div class="ml-4 col-md-6">
            <plex-select 
                (getData)="onSearchAgentes($event)" 
                (change)="onChangeAgente($event)" 
                name="agente"
                formControlName="agente"
                placeholder="Buscar Agente">
            </plex-select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="ml-4 col-md-6">
            <plex-select 
                [data]="opcionesTiposEstados" 
                label="Filtrar"
                name="activo"
                formControlName="activo"
                [required]="true">
            </plex-select>
        </div>
    </div>
</form>