<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5>{{title }}</h5>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <plex-button 
            titlePosition="left"
            type="primary btn-sm"
            icon="plus"
            (click)="uploader.click()">
        </plex-button>
    </div>
    <input #uploader hidden type="file" (change)="onClickToUpload(uploader.files)" />
</header>

<ng-container *ngFor="let file of files; let idx=index">
    <!-- <div class="dl"> 
        <div class="dd">
            <div class="d-flex flex-row justify-content-start">
                <plex-icon name="file"></plex-icon>
                <plex-label 
                    titulo="{{ (size=='sm' && file.filename.length>20)? (file.filename | slice:0:20)+'...':(file.filename) }}"
                    subtitulo="archivo">
                </plex-label>
            </div>    
        </div>
        <div class="dd botonera ">
            <div class="d-flex flex-row justify-content-end">
                <a id="downloader-{{ idx }}" target="_blank" href="{{ file.downloadURL }}" download="{{ file.filename }}">
                    <plex-button
                        size="sm"
                        type="primary"
                        icon="mdi mdi-eye"
                        (click)="viewFile(idx)">Ver Archivo
                    </plex-button>
                </a>
                <plex-button
                    type="danger"
                    icon="mdi mdi-close"
                    size="sm"
                    (click)="removeFile(idx)">Quitar archivo
                </plex-button>
            </div>
        </div>
    </div> -->

    <!-- <div class="item-row" (click)="seleccionarItem(item)"
        [ngClass]="{'item-row-selected': itemSelected?.id == item.id}"> -->
    <div class="item-row">
        <div class="item-column">
            <div class="d-flex flex-row justify-content-start">
                <plex-icon name="file"></plex-icon>
                <plex-label 
                    titulo="{{ (size=='sm' && file.filename.length>20)? (file.filename | slice:0:20)+'...':(file.filename) }}"
                    subtitulo="archivo">
                </plex-label>
            </div>
        </div>
        <div class="item-column item-botonera">
            <div class="d-flex flex-row justify-content-end">  
                <a id="downloader-{{ idx }}" target="_blank" href="{{ file.downloadURL }}" download="{{ file.filename }}">
                    <plex-button
                        title="Ver Archivo"
                        size="sm"
                        type="primary"
                        icon="mdi mdi-eye"
                        (click)="viewFile(idx)">
                    </plex-button>
                </a>
                <plex-button
                    title="Quitar archivo"
                    type="danger"
                    icon="mdi mdi-close"
                    size="sm"
                    (click)="removeFile(idx)">
                </plex-button>
            </div>
        </div>
    </div>

</ng-container>

<ng-template #dynamicUploaderStatus></ng-template>