<!-- Bootstrap style -->
<li class="d-flex flex-row justify-content-between align-items-center py-2" *ngFor="let agente of agentes$ | async">
    <div class="d-flex flex-row">
        <img class="item-img mr-4" src="{{ agente.foto }}" alt="">        
        <article class="d-flex flex-column text-left align-self-center"> 
                <div class="d-flex flex-row">
                    <plex-badge type="info">{{ agente.situacion }}</plex-badge>
                    <plex-badge [type]="agente.estado">{{ agente.estado }}</plex-badge>
                </div>
            <h6 class="d-flex flex-row mt-2">{{ agente.nombre }} {{ agente.apellido }}</h6>
            <!-- <small>{{ agente.dni }} {{ agente.id }} {{ agente.edad }}</small> -->
        </article>
    </div>
    <!-- Botonera -->
    <div class="d-flex flex-row">
        <plex-button *ngIf="agente.estado == 'baja'" type="success" type="sm" icon="star">Alta</plex-button>
        <plex-button type="success" type="sm" icon="mdi mdi-pencil" [routerLink]="['/inicio/editar/', agente.id]">Editar</plex-button>
        <plex-button type="warning" type="sm" icon="mdi mdi-eye" [routerLink]="['/inicio/detalle/', agente.id]">Ver</plex-button>
    </div>
</li>