<header>
    <form  *ngIf="filterForm" name="filterForm" [formGroup]="filterForm">
        <div class="row">
            <div class="col-md-3">
                <plex-datetime
                    label="Fecha Desde"
                    required
                    formControlName="fechaDesde"
                    type="date"
                    name="fechaDesde"
                    placeholder="Desde"
                    (change)="search()">
                </plex-datetime>
            </div>
            <div class="col-md-3">
                <plex-datetime
                    label="Fecha Hasta"
                    required
                    formControlName="fechaHasta"
                    type="date"
                    name="fechaHasta"
                    placeholder="Hasta"
                    (change)="search()">
                </plex-datetime>
            </div>
            <div class="col-md-4">
                <app-agente-select-input
                    *ngIf="filterForm"
                    [form]="filterForm"
                    [serviciosAllowed]="serviciosAllowed"
                    (change)="search()"
                    [required]="true">
                </app-agente-select-input>
            </div>
        </div>
    </form>
</header>
    