<br>
<form name="datosContactoForm" [formGroup]="datosContactoForm">
    <div class="row">
        <div class="col-12 text-right">
            <plex-button 
                title="Agregar contacto"
                titlePosition="left"
                type="primary btn-sm"
                icon="plus"
                (click)="addContacto()"
                [disabled]="!editable">
            </plex-button>
        </div>
    </div>
    <div formArrayName="contactos">
        <div *ngFor="let contacto of contactoForms.controls; let i=index" 
                [formGroupName]="i">
            <div class="row">
                <div class="col-4">
                    <plex-select
                        [data]="tiposContacto"
                        name="tipo"
                        formControlName="tipo"
                        label="Tipo de contacto"
                        placeholder="Seleccione..."
                        [required]="true"
                        [readonly]="!editable">
                    </plex-select>
                </div>
                <div class="col-md-4">
                    <plex-text
                        name="valor"
                        formControlName="valor" 
                        label="Dato de contacto"
                        placeholder="Ingrese valor..."
                        [required]="true"
                        [readonly]="!editable">
                    </plex-text>
                </div>
                <div class="col-2" *ngIf="i > 0">
                    <br>
                    <br>
                    <plex-button
                        label=""
                        type="danger btn-sm"
                        icon="close"
                        (click)="deleteContacto(i)"
                        [disabled]="!editable">
                    </plex-button>
                </div>
            </div>
        </div>
    </div>
</form>