<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5><strong>{{ titulo }}</strong></h5>
    </div>
    <div class="d-flex flex-row justify-content-end">    
        <plex-button
            *ngIf="canCreateObject"
            label="Nuevo"
            type="info"
            title="Nuevo Item"
            (click)="onCreate()">
        </plex-button>
        <plex-button
            class="mx-2"
            type="danger"
            icon="mdi mdi-close"
            title="Cerrar"
            (click)="onCancel()">
        </plex-button>
    </div>
</header>