<header class="d-flex flex-row justify-content-between subheader">
    <div>
        <h5><strong> {{ titulo }} {{ (subtitulo)? '|': ''}} </strong> {{ subtitulo }}</h5>
    </div>
    <div class="d-flex flex-row justify-content-end">    
        <plex-button
            *ngIf="canCreateObject"
            class="mr-2"
            label="Nuevo"
            type="info"
            title="Nuevo Item"
            (click)="onCreate()">
        </plex-button>
        <plex-button
            *ngIf="action=='update'"
            class="mr-2"
            label="Ver Historia"
            type="info"
            (click)="onHistory()">
        </plex-button>
        <plex-button
            *ngIf="action=='update' || action=='create'"
            class="mr-2"
            label="Guardar"
            type="success"
            (click)="onSave()">
        </plex-button>
        <plex-button
            type="danger"
            icon="mdi mdi-close"
            title="Cerrar"
            (click)="onCancel()">
        </plex-button>
    </div>
</header>