<plex-layout main="12">
    <plex-layout-main>
        <header class="d-flex flex-row justify-content-between subheader">
                <div>
                    <h5><strong>{{ title }}</strong></h5>
                </div>
                <div class="d-flex flex-row justify-content-end">    
                    <plex-button
                        class="mx-2"
                        type="danger"
                        icon="mdi mdi-close"
                        title="Cerrar"
                        routerLink="/">
                    </plex-button>
                </div>
            </header>
        <section>
            <plex-box>
                <div class="text-center">
                    <div *ngIf="menu" class="andes-inicio row">
                        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of menu">
                            <app-block-menu
                                [icon]="item.icono"
                                [titulo]="item.titulo"
                                [subtitulo]="item.subtitulo"
                                [detalle]="item.detalle"
                                [url]="item.url"
                                [color]="item.color"
                                [style]="item.style">
                            </app-block-menu>
                        </div>
                    </div>
                </div>
            </plex-box>
        </section>
    </plex-layout-main>
</plex-layout>