<plex-layout main="12">

    <plex-layout-main>
        <app-crud-header 
            [titulo]="'Recargos'"
            [canCreateObject]="canCreateObject"
            (cancel)="cancel()"
            (create)="createItem()">
        </app-crud-header>
        
        <app-recargo-search-form
            (change)="search($event)">
        </app-recargo-search-form>

        <br>
        
        <plex-loader 
            *ngIf="searching"
            class="d-flex flex-column align-items-center justify-content-center h-75"
            type="ball-beat">
        </plex-loader>

        <app-search-leyenda
            *ngIf="searched && items && !items.length"
            [header]="'No se encontraron resultados!'">
        </app-search-leyenda>

        <list-head
            *ngIf="searched && items && items.length"
            [columnDef]="columnDef">
        </list-head>
        
        <list-item *ngFor="let item of items; let i=index"
            [item]="item"
            [itemSelected]="itemSelected"
            [botonera]="false"
            (selectionChange)="onItemSelectionChanged($event)">
            <plex-label class="wp-20" titulo="{{item.mes?.nombre | title }}" [tituloBold]="false"></plex-label>
            <plex-label class="wp-20" titulo="{{item.anio | title }}" [tituloBold]="false"></plex-label>
            <plex-label class="wp-40" titulo="{{item.servicio?.nombre | title }}" [tituloBold]="false"></plex-label>
            <div class="wp-20" [ngSwitch]="item.estado">
                <plex-badge *ngSwitchCase="0" type="warning" size="sm">
                    <plex-icon name="mdi mdi-clipboard-text" title="Sin Confirmar"></plex-icon>
                    SIN CONFIRMAR
                </plex-badge>
                <plex-badge *ngSwitchCase="1" type="danger" size="sm">
                    <plex-icon name="mdi mdi-clipboard-text" title="Confirmada"></plex-icon>
                    CONFIRMADO
                </plex-badge>
                <plex-badge *ngSwitchDefault type="success" size="sm">
                    <plex-icon name="mdi mdi-clipboard-text" title="Procesada"></plex-icon>
                    PROCESADO
                </plex-badge>
            </div>
            <div class="item-column item-botonera">
                <div class="d-flex flex-row justify-content-end align-items-center"> 
                    <ng-template [ngxPermissionsOnly]="'recargos:recargo:imprimir'">
                        <plex-button
                            title="Imprimir"
                            type="warning"
                            size="sm"
                            icon="mdi mdi-printer"
                            (click)="onItemImprimir(item)">
                        </plex-button>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="'recargos:recargo:view_recargo'">
                        <plex-button
                            *ngIf="item.estado && item.estado == 2"
                            title="Ver detalle"
                            type="info"
                            icon="mdi mdi-eye"
                            size="sm"
                            (click)="onItemView(item)">
                        </plex-button>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="'recargos:recargo:change_recargo'">
                        <plex-button
                            *ngIf="!item.estado || item.estado == 0"
                            title="Editar"
                            type="warning"
                            icon="mdi mdi-pencil"
                            size="sm"
                            (click)="onItemEdit(item)">
                        </plex-button>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="'recargos:recargo:procesar_recargo'">
                        <plex-button
                            *ngIf="item.estado && item.estado == 1"
                            title="Procesar Recargo"
                            type="success"
                            size="sm"
                            icon="mdi mdi-play"
                            (click)="onItemProcesar(item)">
                        </plex-button>
                    </ng-template>
                    <!-- <plex-button
                        title="Eliminar"
                        type="danger"
                        icon="mdi mdi-close"
                        size="sm"
                        (click)="deleteItem(item)">
                    </plex-button> -->
                </div>
            </div>
        </list-item>
        
        <div class="d-flex justify-content-center mt-4">
            <plex-button
                *ngIf="showMore"
                label="Mostrar más resultados"
                type="info"
                (click)="showMoreResultados()">
            </plex-button>
        </div>
               
    </plex-layout-main>   
</plex-layout>