<plex-layout main="12">
    <plex-layout-main>
        <header>
            <section class="d-flex flex-row justify-content-between mb-2">
                <h5 class="align-self-center">
                    <strong>Reportes |</strong> Gestión de Personal
                </h5>
                <div class="d-flex flex-row justify-content-end">
                    <plex-button
                        label="Consultar"
                        type="success"
                        (click)="onSearch();">
                    </plex-button>
                    <plex-button
                        class="mx-2"
                        type="danger"
                        icon="mdi mdi-close"
                        title="Cerrar"
                        routerLink="/inicio">
                    </plex-button>
                </div>
            </section>
        </header>
        
        <plex-tabs>
            <plex-tab label="1. SELECCION DE AGENTES">
                <div>
                    <app-reporte-agente-filters #agenteFilters></app-reporte-agente-filters>
                </div>
            </plex-tab>
            <plex-tab label="2. FILTROS DE BÚSQUEDA">
                <div>
                    <header class="d-flex flex-row justify-content-between subheader mt-4">
                        <div>
                            <h5>Paso 2. Filtros de búsqueda</h5>
                        </div>
                    </header>
                    <app-reporte-seleccion-filtros #propiedadesFilters></app-reporte-seleccion-filtros>
                </div>
            </plex-tab>
            <plex-tab label="3. TIPO DE REPORTE">
                <div>
                    <app-reporte-seleccion-tipo #tipoReporte></app-reporte-seleccion-tipo>
                </div>
            </plex-tab>
        </plex-tabs>
    </plex-layout-main>
</plex-layout>

<jw-modal id="modal-show-results">
    <div>
        <header class="d-flex flex-row justify-content-between subheader">
            <div>
                <h5><strong>Resultados | </strong>Legajos Agentes</h5>
            </div>
            <div class="d-flex flex-row justify-content-end">
                <plex-button *ngIf="!generandoReporte" class="mr-2" type="primary" icon="mdi mdi-printer" size="sm" (click)="onPrint()"></plex-button>
                <plex-button type="danger" icon="mdi mdi-close" size="sm" (click)="onCloseModal()">Cerrar</plex-button>
            </div>
        </header>
        <app-search-leyenda 
            *ngIf="searched && agentes && !agentes.length"
            [header]="'No se encontraron resultados!'">
        </app-search-leyenda>
        <section *ngIf="generandoReporte"
            class="d-flex flex-column align-items-center justify-content-center h-75">
            <div class="d-flex flex-column text-center text-muted">
                <h5>
                    Generando Reporte
                </h5>
                <plex-loader 
                    class="d-flex flex-column align-items-center justify-content-center h-75"
                    type="ball-beat">
                </plex-loader>
            </div>
        </section>
        <div *ngIf="!generandoReporte" [innerHTML]="htmlReport | sanitizeHtml"></div>
    </div>
</jw-modal>
    