<header>
    <div class="row">
        <div class="col-md-10">
            <plex-text [(ngModel)]="apellido" (change)="refreshSelection()" name="apellido" label="Apellido"
                [required]="true">
            </plex-text>
        </div>
        <div class="col-md-2 text-right">
            <label>&nbsp;</label>
            <plex-button type="default" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'" (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
        </div>
    </div>
    <div class="row" *ngIf="mostrarMasOpciones">
        <div class="col-md-4">
            <plex-select [(ngModel)]="paises" name="paises" (getData)="cargarPaises($event)" label="Paises"
                [required]="true">
            </plex-select>
        </div>
        <div class="col-md-4">
            <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="refreshSelection()" name="fechaDesde"
                label="Desde" [required]="true">
            </plex-datetime>
        </div>
        <div class="col-md-4">
            <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="refreshSelection()" name="fechaHasta"
                label="Hasta" [required]="true">
            </plex-datetime>
        </div>
    </div>
</header>
<hr>
<section class="row">
    <div class="col">
        <!--Resultados-->
        <!-- <plex-loader *ngIf="loader" type="ball-beat"></plex-loader>-->
        <!-- <div *ngIf="!seleccion?.length && !loader" class="alert alert-default"> -->
            <!-- <i class="mdi mdi-emoticon-sad"></i> No hay resultados que coincidan con los filtros de búsqueda -->
        <app-item-listado>
            
        </app-item-listado>
    </div>
</section>