<!-- <header>
    
    <div class="row">
        <div class="col-md-10">
            <plex-text [(ngModel)]="apellido" (change)="refreshSelection()" name="apellido" label="Apellido"
                [required]="true">
            </plex-text>
        </div>
        <div class="col-md-2 text-right">
            <label>&nbsp;</label>
            <plex-button type="default" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'" (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
        </div>
    </div>
    <div class="row" *ngIf="mostrarMasOpciones">
        <div class="col-md-4">
            <plex-select [(ngModel)]="paises" name="paises" (getData)="cargarPaises($event)" label="Paises"
                [required]="true">
            </plex-select>
        </div>
        <div class="col-md-4">
            <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="refreshSelection()" name="fechaDesde"
                label="Desde" [required]="true">
            </plex-datetime>
        </div>
        <div class="col-md-4">
            <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="refreshSelection()" name="fechaHasta"
                label="Hasta" [required]="true">
            </plex-datetime>
        </div>
    </div>
</header>
<hr>
<ng-container *ngIf="resultados === true; then mostrarResultados; else mostrarLeyenda"></ng-container>
    
    <ng-template #mostrarResultados>
    <section class="row">
            <div class="col">
            <app-item-listado>

            </app-item-listado>
        </div>
    </section>
    </ng-template>
    
    <ng-template #mostrarLeyenda>
        <section class="d-flex flex-column align-items-center justify-content-center h-75">
        <div class="d-flex flex-column text-center text-muted">
            <span class="mdi mdi-arrow-up-bold-circle-outline mdi-48px"></span>
            <h3><strong>Buscá un agente en la barra superior</strong></h3>
            <h5>Podes refinar tu búsqueda a través del botón "Búsqueda avanzada"</h5>
        </div>
        </section>
    </ng-template> -->
