.panel-permisos {
    header.subheader {
        margin-bottom: 0px;
        border-bottom: 1px solid white;
    }
    .permiso:last-child {
        margin-bottom: 30px;
    }

    .permiso {
        border-bottom: 1px solid #a5a5a5;

        p {
            padding-top: 10px;
            margin-bottom: 0.5rem;
        }
    }
}
