
<br>

<form name="datosEducacionForm" [formGroup]="datosEducacionForm">
    <div class="row">
        <div class="col-12 text-right">
            <plex-button 
                title="Agregar estudio"
                titlePosition="left"
                type="primary btn-sm"
                icon="plus"
                (click)="addEducacion()">
            </plex-button>
        </div>
    </div>
    <div formArrayName="educacion">
        <div *ngFor="let estudio of educacionForms.controls; let i=index" 
                [formGroupName]="i">
            <div class="row">
                <div class="col-3">
                    <plex-select
                        [data]="tiposEducacion"
                        name="tipoEducacion"
                        formControlName="tipoEducacion"
                        label="Nivel"
                        placeholder="Seleccione..."
                        [required]="false"
                        (change)="changeTitulosOptions($event, i)">
                    </plex-select>
                </div>
                <div class="col-md-7">
                    <plex-select
                        [data]="titulos[i]? titulos[i]: []"
                        name="educacion"
                        formControlName="educacion"
                        label="Título"
                        labelField="titulo"
                        placeholder="Seleccione..."
                        [required]="false">
                    </plex-select>
                </div>
                <div class="col-2" *ngIf="i > 0">
                    <br>
                    <br>
                    <plex-button
                        label=""
                        type="danger btn-sm"
                        icon="close"
                        (click)="deleteEducacion(i)"></plex-button>
                </div>
            </div>
        </div>
    </div>
</form>